[2021-11-14 19:15] amizeranschi opened #3557 "Samtools error when installing bcbio genome data in bcbio: error while loading shared libraries: libcrypto.so.1.0.0: cannot open shared object file: No such file or directory"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.8
- OS name and version (`lsb_release -ds`): Ubuntu 20.04.3 LTS

**To Reproduce**
Exact bcbio command you have used:
[code]

This results in the following:

[code]

This suggests an older version of samtools is being used at some point. There are multiple versions of samtools installed in bcbio:

[code]

My PATH is configured lik

[2021-11-15 07:15] aswani1208 commented on #3554
Hi Sergey
Thank you for the help i was able to rectify the error, but again having issues with picard (similar to #3553 )

it is showing
 File "/home/user/.local/lib/python3.7/site-packages/bcbio/provenance/do.py", line 106, in _do_run
 raise subprocess.CalledProcessError(exitcode, error_msg)
subprocess.CalledProcessError: Command 'set -o pipefail; unset JAVA_HOME && export PATH=/home/user/Fastq/b

[2021-11-15 10:48] matthdsm commented on #3553
Hi Sergey,

Thanks for the fixes.
Personally, I'd run all picard tools through picard and leave the bundled and not use the bundled gatk. As you stated, the bundled version is older than the latest one.
The bundled picard may contain bugs which are fixed in later picard versions (which have a much shorter generation time). This has happened before and may well happen again.
I'd go for a  picard +

[2021-11-16 10:36] VictoriaPatten opened #3558 "Questions - Does bcbio convert bams to fastq then map?"
I have paired T/N cancer  .bam files that were mapped with GRCh37/hg19.
In the setup config file, if I specify **aligner: bwa** and **genome_build: hg38** ... When running the script will bcbio first convert the .bam files back to fastq files and then map with hg38?
TIA

[2021-11-17 07:43] mvheetve opened #3559 "ValueError: numpy.ufunc size changed, may indicate binary incompatibility."
Hi again,

regarding the analysis we were running in #3553. The Picard issue was fixed, for which many thanks, but we just encountered this issue downstream:

[code]
We've tried updating to:
[code]
But no luck...
Considering these threads:
https://github.com/scikit-learn-contrib/hdbscan/issues/272
https://stackoverflow.com/questions/60323366/valueerror-numpy-ufunc-size-changed-may-indicate-binary-

[2021-11-17 07:45] mvheetve commented on #3553
Hi Sergey,

while I think Matthias raises a valid point, I can also appreciate your side of things. For now the issue seems to be fixed for which we are very grateful!

Mattias

[2021-11-17 07:45] #3553 closed

[2021-11-17 13:33] lbeltrame opened #3560 "PureCN: if signatures aren't generated (too few somatic calls) they shouldn't be considered for upload"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.8
- OS name and version (`lsb_release -ds`): Debian 10 (buster)

**To Reproduce**

If by any chance `deconstructSigs` fails to generate a proper signature (because there aren't enough somatic calls) when called from PureCN, the pipeline still considers the file to be done and adds it to the metadata. This ultimately causes a fail

[2021-11-17 22:39] lima1 commented on #3560
@lbeltrame , I think I changed the behavior in 1.22.0 that the file is always generated. It will just contain NAs for all signatures in case there are not enough mutations.

[2021-11-22 03:33] naumenko-sa commented on #3557
Hi @amizeranschi !

Thanks for the detailed reporting and sorry about the issues!
This last update https://github.com/chapmanb/cloudbiolinux/pull/387 unfortunately, can' be applied by `bcbio_nextgen.py -u skip upgrade` - you'd better re-install the code and tools from scratch and link the data.
https://bcbio-nextgen.readthedocs.io/en/latest/contents/intro.html#install-bcbio-python-package-and-tool

[2021-11-22 03:36] naumenko-sa commented on #3560
thanks @lima1 !

@lbeltrame thanks for reporting!
Could you please confirm that it fails /not fails with the latest purecn as well? If so, I'd handle at the bcbio level.

SN

[2021-11-22 03:38] naumenko-sa commented on #3558
Hi @VictoriaPatten !

Yes!

When `aligner` is set, bcbio is converting bam2fastq and trying to align. If `aligner: false` bcbio is trying to use the bam as is. Sometimes `bam_clean: picard` or  `bam_clean: fixrg` help to fix the bam. When running on the different reference realignment is necessary.

Sergey

[2021-11-22 03:48] naumenko-sa commented on #3554
Hi @aswani1208 !

Great news - could please follow #3553 - they report that https://github.com/bcbio/bcbio-nextgen/pull/3556 solves he picard issue.

Sergey

[2021-11-22 08:10] amizeranschi commented on #3557
Hi Sergey,

Thanks for the reply. Everything I reported here was based on a fresh install of bcbio, completely from scratch, on a new machine. This was done on the 14th of November and I followed the documentation you linked above.

The update you mentioned seems to be from the 28th of October, so I'm guessing that my install should have used the updated code. Here's what I did:

[code]

I can ret

[2021-11-22 13:18] VictoriaPatten commented on #3558
Hi @naumenko-sa
Thank you! This is very helpful.

[2021-11-22 14:49] amizeranschi opened #3561 "FileNotFoundError during bulk RNA-seq. Bcbio is looking for Rscript in a non-existing r36 environment"
Hello,

Using a one-week old fresh install of bcbio, I am running into the following error during a bulk RNA-seq run:

[code]

There doesn't seem to be any `r36` env on my system at all. There is, instead, an `r35` env:

[code]

Rscript is present in the `r35` env:

[code]

Why is bcbio looking for Rscript in a non-existing `r36` env?

[2021-11-22 16:44] amizeranschi commented on #3557
Update:

As advised, I tried reinstalling Bcbio from scratch, but it didn't make any difference. I am still in the same situation as outlined above.

When I try installing the data, Bcbio tries to use the old samtools version that gets symlinked in the tools/bin directory and runs into the error mentioned in the title.

[2021-11-22 18:51] amizeranschi commented on #3561
Update:

As suggested in https://github.com/bcbio/bcbio-nextgen/issues/3557, I tried reinstalling Bcbio again from scratch, but this didn't make any difference and I get the same error as above.

[2021-11-23 05:34] amizeranschi commented on #3561
Update 2:

Thanks to [this comment](https://github.com/bcbio/bcbio-nextgen/issues/3538#issuecomment-954422397), I've just realized that I never upgraded bcbio to the latest code from the development branch. After running

[code]

the issue reported here went away. Will there be a new stable release anytime soon?

[2021-11-23 05:42] amizeranschi commented on #3557
Update 2:

As mentioned in https://github.com/bcbio/bcbio-nextgen/issues/3561, I've upgraded bcbio to the latest development version. Unlike there, however, this didn't fix the issue mentioned here.

I can hack around it by renaming or removing the samtools symlink from the tools directory, but it might still be good to solve this before the next stable release.

[2021-11-23 05:50] kmfisch commented on #3552
Hi @naumenko-sa Thank you! Attached is the yaml config file. I'm running MACS2 2.2.7.1. I dug deep into this and it was a low reads file that didn't have any reads aligned in the *-DN.bam. So the fact that this file had 0 reads is expected, but what what unexpected is that instead of skipping it or throwing a warning in the log that this had 0 reads and was being skipped, it crashed the entire
[sa

[2021-11-24 10:12] lbeltrame commented on #3560
The difference between the case where signatures are generated and when they aren't is here:

https://github.com/lima1/PureCN/blob/4f0616fb4e2875c5f64fd2b456b6b05fe5e4d8d7/inst/extdata/Dx.R#L187

One case generates a PDF file, which is tracked by bcbio, one does not (but bcbio searches for it anyway).

[2021-11-24 16:21] lima1 commented on #3560
Oh, yes, the PDF is not generated, only the CSV file.

[2021-11-25 03:22] #3558 closed

[2021-11-25 03:42] naumenko-sa commented on #3557
HI @amizeranschi !

Thanks for the follow up and for the patience!
Yes, indeed this old samtools should not be called.
Please unlink it:

[code]

I've pushed a fix that it won't be linked in the first place anymore:
https://github.com/chapmanb/cloudbiolinux/pull/393

Let me know if that helps with the installation.

Sergey

[2021-11-25 04:45] naumenko-sa commented on #3552
Hi Katie @kmfisch !

Thanks for the excellent work debugging!
I agree, we should at least give an error message in such a case.
I pushed a fix here: https://github.com/bcbio/bcbio-nextgen/pull/3562.

As a rule of thumb, we are trying to error out on the bad data in bcbio - to make this fact known as early as possible
rather than handling exceptions and proceeding.

You are on bcbio1.2.8, but if yo

[2021-11-25 06:56] naumenko-sa commented on #3561
Thanks for the update @amizeranschi !
Sorry - the transition is never easy.
Yes, in the latest dev Rscript is pulled from the base `https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/pipeline/rnaseq.py#L535`
We are planning to release 1.2.9 before the NY.
Sergey

[2021-11-25 06:56] #3561 closed

[2021-11-25 07:19] naumenko-sa commented on #3559
Hi Mattias @mvheetve !

Thanks for the detailed report!

We have tried upgrading vcf2db to python3 and ran into issues.

Could you please try (you might need to remove vcf2db/cyvcf2/numpy in the python2 env):
[code]
and try running the project again?
(it seems to be a working combination in one of the installations)

Sergey

[2021-11-25 07:24] naumenko-sa commented on #3560
@lbeltrame here is the fix https://github.com/bcbio/bcbio-nextgen/pull/3563,
could you please test?

[2021-11-25 07:26] matthdsm commented on #3559
Hi Sergey,

Sorry, but this fix won't work for us. When we try to install this we get the following diff
[code]

We're seeing downgrades for cyvcf2 and mosdepth (no idea why mosdepth is in there?) which would reintroduce some bugs which have since been fixed in the most recent versions.

Could you specify which issues you ran into when trying to install vcf2db under py3? Perhaps thats something th

[2021-11-25 07:33] lbeltrame commented on #3560
Would that work with samples that have files, and samples that do not?

[2021-11-25 07:45] naumenko-sa commented on #3560
yes, in my test it works

[2021-11-25 15:40] naumenko-sa commented on #3559
Hi @matthdsm and @mvheetve !

Thanks for testing!
I was lucky to reproduce and fix this issue with:

[code]

the diff is quite small:
[code]

Could you please confirm whether this pin works for you?

Sergey

ps. I will try to dig out what was the particular the vcf2db python3 issue, but no commitments on the fast switch, unfortunately.
We have a long term project, from which bcbio had originated i

[2021-11-25 16:12] pfpjs opened #3564 "Files related to hg19 mirbase changed names - installation or upgrade crashes"
Hi,

A recent update of cloudbiolinux updated the URLs of mirbase srnaseq files for hg19 and hg38. One of these files, here:

https://github.com/chapmanb/cloudbiolinux/blob/cbba4e96c2f45ccc5d57c96d310b7dbeb18db580/ggd-recipes/hg19/mirbase.yaml#L45

has changed name from `mirna_mature.txt.gz` to `mirna_context.txt.gz`. Both the old and the new files still exist under the new URL at https://www.mirb

[2021-11-25 16:39] naumenko-sa commented on #3564
Thanks for catching this, @pfpjs

I think this is because we require `mirna_mature.txt.gz` in the output of the recipe:
https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/hg19/mirbase.yaml#L59

I've updated it to mature https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/hg19/mirbase.yaml#L45
at least it should run smoothly now.

[2021-11-25 22:10] naumenko-sa commented on #3505
Octopus is updated in the latest dev:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L296
please check out

[2021-11-25 22:12] naumenko-sa commented on #3515
updated in the latest dev, please check out
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L272

[2021-11-25 22:15] naumenko-sa commented on #3525
closing, feel free to re-open if there is still an issue!

[2021-11-25 22:15] #3525 closed

[2021-11-25 22:16] naumenko-sa commented on #3502
closing. please feel free to re-open if you are working on that!

[2021-11-25 22:16] #3502 closed

[2021-11-25 22:17] #3519 closed

[2021-11-26 08:47] amizeranschi opened #3565 "Error running bcbioRNASeq from within bcbio: there is no package called ‘bcbioRNASeq’"
Hello!

I'm trying to run a bulk RNA-seq analysis using the following template:

[code]

However, this ends with the following error:

[code]

This is strange to see, because the package does seem to be installed in the `rbcbiornaseq` environment:

[code]

[2021-11-26 13:45] matthdsm commented on #3559
Upgrading the numpy version seems to have fixed the issue (for now)!
Thanks for the help. If you have any idea what causes the vcf2db py3 issues, please let me know.

Matthias

[2021-11-26 17:58] pfpjs commented on #3564
Thank you @naumenko-sa, I confirm the issue is solved and I was able to upgrade successfully.

Best,
-- Paulo

[2021-11-26 17:58] #3564 closed

[2021-11-29 09:21] rollf commented on #3564
Hi @naumenko-sa,

sorry, I can't comment on these files since I don't have experience with mirbase neither.

[2021-11-29 14:15] mvheetve commented on #3559
Hi Sergey,

analysis was completed with succes after the numpy upgrade. Thanks for the help!

Mattias

[2021-11-29 14:15] #3559 closed

[2021-11-29 22:55] dauss75 commented on #3549
encountered the same problem and updating to dev. Hope the stable version includes the fix.

[2021-11-29 23:12] dauss75 commented on #3549
Hi Sergey,
Do I update the ipyparallel version in manifest/python-packages.yaml and then update with `bcbio_nextgen.py upgrade -u development`?  I updated without changing any, but the error didn't get resolved.

Thanks, Segun

[2021-11-30 08:06] jxshi commented on #3551
Hi,

I encountered the same error recently after update to the latest development version.
[code]

I have updated the the stable version but the error message did not disappear. Do you guys have any ideas to solve the problem?

Thank you in advance!
Best,
Jianxiang

[2021-11-30 09:10] matthdsm opened #3566 "Question: UMI handling in bcbio"
Hi,

Bcbio can handle UMI's in the fastq header e.g.
[code]
by using `umi: fastq_name`.

I'm trying to understand what happens exactly to get the UMI from the fastq header into the `RX`tag in the aligned bam. Could you please elaborate?

Thanks
Matthias

[2021-12-01 15:45] naumenko-sa commented on #3551
Hi @jxshi !

I see `python3.6` in your log, so you are upgrading the old installation.
Due to reogranization of conda environments,
to get the new version you need to reinstall bcbio code from scratch and link the genomes:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/development.html#creating-a-separate-bcbio-installation

(install and then upgrade it to the latest dev)

Sergey

[2021-12-01 15:48] naumenko-sa commented on #3549
Hi @dauss75 !

Are you upgrading the old installation or working on a fresh one?

To get the latest bcbio you would need to re-install the conda envs and tools
- https://bcbio-nextgen.readthedocs.io/en/latest/contents/development.html#creating-a-separate-bcbio-installation
- link the genomes
- and upgrade to the latest code.

Sergey

[2021-12-01 16:08] naumenko-sa commented on #3566
Hi @matthdsm !

Just for the reference, there is an open dataset with UMI's to synchronize the discussion:
https://github.com/bcbio/bcbio_validation_workflows/blob/master/somatic-lowfreq/prepare_inputs/smcounter2/prepare_data.sh

Usually, we work with fastqs having UMI or CELL in the header:

[code]

Then the reads are aligned with bwa (UMI is in the read name), and UMIs are lifted to the bam tags

[2021-12-01 18:16] dauss75 commented on #3549
That was a fresh installation. OK.  I will give it another try. thanks

[2021-12-01 20:49] naumenko-sa commented on #3565
Hi @amizeranschi !

Thanks for testing and reporting!
I've fixed the paths to Rscript: https://github.com/bcbio/bcbio-nextgen/pull/3567

I am getting the below error now:

[code]

@mjsteinbaugh  could you please help us with this error?

Sergey

[2021-12-01 20:54] naumenko-sa commented on #3549
what is your output of:

[code]

[2021-12-01 21:02] naumenko-sa commented on #3535
please feel free to re-open if there is still an issue.
SN

[2021-12-01 21:02] #3535 closed

[2021-12-01 21:05] naumenko-sa commented on #3513
Hi @mjsduncan !

Thanks for reporting and sorry for the radio silence - I did not have any useful ideas re the issue.
Recently, octopus has been updated in bcbio:

Do you think it may help fixing that issue?
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L296

Sergey

[2021-12-01 21:36] mjsteinbaugh commented on #3565
Hi Sergey yeah I'll take a look tonight. If you can post the R session info via `sessionInfo()` that will be helpful. I think it's a quick fix.

[2021-12-01 21:37] mjsteinbaugh commented on #3565
Basically I just need to know which version of bcbioRNASeq and basejump

[2021-12-01 21:48] mjsteinbaugh commented on #3565
@amizeranschi What version of bcbio-nextgen are you running? Is this the latest development release?

[2021-12-01 22:44] dauss75 commented on #3549
Thanks for the follow-up.

mamba list ipython
# Name                    Version                   Build  Channel
ipython                   7.16.1           py36he448a4c_2    conda-forge
ipython-cluster-helper    0.6.4              pyh864c0ab_1    bioconda
ipython_genutils          0.2.0                      py_1    conda-forge

mamba list traitlets
# Name                    Version

[2021-12-01 23:54] mjsteinbaugh commented on #3565
Yeah I think something weird may be going on with the conda environment in that bcbio install. Here's a clean install of the `r-bcbiornaseq` v0.3.42 recipe:

[code]

[code]

[2021-12-02 00:08] mjsteinbaugh commented on #3565
Ah OK the conda recipe issue appears to be in CloudBioLinux:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L272

Adjusting the `r-basejump` version pin to v0.14.23 instead of v0.14.19 (or removing the `r-basejump` line in the YAML file) should fix the issue. I need to push a minor bcbioRNASeq update that tightens up the minimum depend

[2021-12-02 06:04] naumenko-sa commented on #3565
thanks @mjsteinbaugh !

`mamba install r-basejump=0.14.22 -n rbcbiornaseq` in the existing installation helped me to get going.
Now I have the following error

[code]

My versions:
[code]

[2021-12-02 06:09] naumenko-sa commented on #3549
Could you please try
`mamba install ipython=7.29.0 ipython-cluster-helper=0.6.4=py_0 ipyparallel=6.3.0`
and re-run the ipython project?

Are you sure you are on python3.7? (your ipython version is py36)
what is your
[code]

[2021-12-02 09:22] matthdsm commented on #3566
Hi Sergey,

Thanks for the thorough explanation!

Matthias

[2021-12-02 09:22] #3566 closed

[2021-12-02 14:44] dauss75 commented on #3549
You are right. It's python3.6. Didn't pay attention if it's 3.7, but should I get 3.7 instead?

[2021-12-02 16:05] naumenko-sa commented on #3549
That means you are still using the old installation, not the fresh one. The fresh one installs python37
https://github.com/bcbio/bcbio-nextgen/blob/master/scripts/bcbio_nextgen_install.py#L30

[2021-12-02 16:11] mjsteinbaugh commented on #3565
@naumenko-sa Where's `flatFiles()` being called? I'm not seeing this in the bcbio-nextgen source code. Try renaming that to `coerceToList()` instead -- `flatFiles()` was made defunct and then later removed in basejump because the function returned an unstructured list from an S4 object, but not actual "flat files" on disk.

[2021-12-02 16:13] mjsteinbaugh commented on #3565
Ah nevermind got it, it's here:
https://github.com/bcbio/bcbio-nextgen/blob/71c6f97b552ee45a3e3b1d36f675c477a233fcd2/bcbio/rnaseq/bcbiornaseq.py#L128

Yeah rename `flatFiles()` to `coerceToList()` instead, and that should fix it.

[2021-12-02 17:19] dauss75 commented on #3549
Sorry. I must be confused.  There was no bcbio installed in the machine that I meant it's fresh one.  I will get this right and give another try. Thanks for the help!

[2021-12-02 17:49] naumenko-sa commented on #3565
Thanks @mjsteinbaugh !

I've fixed that and rda -> rds

The next issue is:

[code]

Could you please take a look?

Sergey

[2021-12-02 17:54] naumenko-sa commented on #3549
Probably, you have used the old installer script?

Try
[code]

[2021-12-02 18:03] mjsteinbaugh commented on #3565
Yeah for RDS files, use `object <- readRDS("bcb.rds")`. R data serialized (RDS) files are saved without the object name (e.g. "bcb"), which is preferable, but requires assignment into the current working environment.

[2021-12-02 18:05] mjsteinbaugh commented on #3565
Another minor thing is that R 4.1 adds support a native pipe `|>`, which is more performant for large objects than the magrittr pipe `%>%`. We may want to switch to this in the bcbio code.

[2021-12-02 18:07] dauss75 commented on #3549
thank you. working on it.  will keep you posted!

[2021-12-02 18:44] naumenko-sa commented on #3565
Thanks @mjsteinbaugh ! With these changes it works almost till the end

Transcript version issue

[code]

The tx2gene.csv:
[code]

[2021-12-02 19:04] naumenko-sa commented on #3565
Thanks @mjsteinbaugh ! Almost there!

With these changes + `tools_on: keep_gene_version` which keeps transcript versions in tx2gene:
[code]

I am getting:

[code]

The sample sheet:
[code]

The yaml template:
[code]

The basic tximport companion works ok:
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/scripts/R/bcbio2se.R

Sergey

[2021-12-02 19:10] mjsteinbaugh commented on #3565
OK cool I'll take a look and see if we need to publish any fixes in the package

[2021-12-03 00:17] dauss75 commented on #3549
it's working. thanks again for all your help!

[2021-12-03 01:20] #3549 closed

[2021-12-03 06:18] naumenko-sa opened #3570 "Please test: an update of snpeff to 5.0"
Hello everyone!

snpeff was updated to 5.0:
- includes more genomes (has even SARS COVID2);
- databases moved to the Microsoft cloud;

Changes in bcbio:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L125
https://github.com/bcbio/bcbio-nextgen/pull/3569

Update with
`bcbio_nextgen.py -u development --tools --genomes hg38`

To check:
[c

[2021-12-05 06:11] jxshi commented on #3551
Hi @naumenko-sa ,

Thank you for your timely reply! Your solution works!

Best,
Jianxiang

[2021-12-05 10:11] panic0918 opened #3571 "Installation problem...."
I am a student who started my internship at graduate school and is building a new server.

I'm going to install bcbio according to the link recommended by the professor, but I run into the same problem for 4 days.

I know you're busy, but can you give me some advice?

ngs@basiclab01:~$ ./bcbio_nextgen.py upgrade -u skip --genomes hg38
Upgrading bcbio
Upgrading bcbio-nextgen data files
List of geno

[2021-12-06 15:37] naumenko-sa commented on #3571
Hi @panic0918 !

Thanks for reporting and sorry about the issue!

It seems that this recipe is failing:
https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/hg38/dbsnp.yaml

If you could test the recipe in more detail, that might help:

Here is your tmp installation dir:
[code]

Here is the recipe:
[code]

Could you please check, that
https://github.com/chapmanb/cloudbiolinux/blob/mas

[2021-12-06 18:54] mjsteinbaugh commented on #3565
@naumenko-sa Hi Sergey, following up on this, I'm working on a code update this week and will ping you back soon.

[2021-12-06 20:29] amizeranschi commented on #3565
@mjsteinbaugh @naumenko-sa

Thanks a lot for looking into this. Please let me know if I can do anything to help with testing.

[2021-12-07 00:10] gis-nlsim opened #3572 "No such file ‘HG002_SVs_Tier1_v0.6.vcf.gz’."
I am getting a file not found error when attempting to install the genomes and aligners:

This is my upgrade command:
bcbio_nextgen.py upgrade -u skip --genomes GRCh37 --genomes hg38 --aligners bwa --aligners star

Seek your help in this matter please. Thank you.

[code]

[2021-12-07 00:22] panic0918 commented on #3571
**As you said, ggd-run.I changed the sh, but it's the same situation.**

ngs@basiclab01:~/bcbio/anaconda/bin$ ./bcbio_nextgen.py upgrade -u skip --genomes hg38 --aligners bwa
Upgrading bcbio
Upgrading bcbio-nextgen data files
List of genomes to get (from the config file at '{'genomes': [{'dbkey': 'hg38', 'name': 'Human (hg38) full', 'indexes': ['seq', 'twobit', 'bwa', 'hisat2'], 'annotations': ['c

[2021-12-07 02:56] naumenko-sa commented on #3571
I see, the installed can't find bcftools.

Please make sure it is available after you installed bcbio:
[code]

If there is no bcftools in `which bcftools` please make sure you have set up your PATH properly (look in your ~/.bashrc or ~/.bash_profile)

Sergey

[2021-12-07 03:10] naumenko-sa commented on #3572
Hi @gis-nlsim !

Thanks for catching this issues! ftp works for me as well, but, yes, we were trying to switch to https everywhere.
Please try again, it should be fixed in https://github.com/chapmanb/cloudbiolinux/commit/92dc23b1aa7420d4f8d5c39f47355be2a43f1ab4

(Make sure you are not using the cached copy of cloudbiolinux with the old recipe).

Sergey

[2021-12-07 04:09] panic0918 commented on #3571
I'm so sorry for the continuing questions.
I entered the command line one by one. The results are like this.

ngs@basiclab01:~/bcbio/genomes/Hsapiens/hg38/txtmp/variation$  [[ -f dbsnp-154.vcf.gz ]] || bcftools annotate -Ou --rename-chrs https://gist.githubusercontent.com/matthdsm/f833aedd2d67e28013ff1d171c70f4ee/raw/442a45ed3ddc6e85c66c5e58e0fa78e16a0821c8/refseq2ucsc.tsv dbsnp-154-orig.vcf.gz |\

[2021-12-07 09:58] zetamui opened #3574 "Failed to upgrade with --genome GRCh37"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9a
- OS name and version (`lsb_release -ds`): Ubuntu 16.04.7 LTS

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

Error message:
[code]

[2021-12-07 12:55] naumenko-sa commented on #3571
no worries, let us continue to debug!

could you please show the output of

[code]

[2021-12-07 13:12] panic0918 commented on #3571
**Thank you so much for your reply.
I was going to go to bed, but I'm glad I didn't....**

(base) ngs@basiclab01:~$ PATH=$PATH:~/bcbio/tools/bin
(base) ngs@basiclab01:~$ PATH=$PATH:~/bcbio/anaconda/bin
(base) ngs@basiclab01:~$ which -a bcftools
/home/ngs/bcbio/tools/bin/bcftools
/home/ngs/bcbio/anaconda/bin/bcftools
(base) ngs@basiclab01:~$ which -a tabix
/home/ngs/bcbio/anaconda/bin/tabix

**here

[2021-12-07 15:53] naumenko-sa commented on #3574
Hi @zetamui !

Thanks for reporting and sorry about the issue!
It is this recipe that failing: https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/GRCh37/transcripts.yaml

Could you please check these two commands in your environment?

[code]
It works in the two environments I have access to.

The xz is from bcbio (please make sure you are not using another xz).

[code]

You may also

[2021-12-07 16:21] panic0918 commented on #3571
**Thank you for sincerely answering even the rudimentary questions every time.**
**You're the only one I can trust right now, so I'm more desperate.
I hope you give me more advice. plz... :(**

(base) ngs@basiclab01:~$ bcftools

Program: bcftools (Tools for variant calling and manipulating VCFs and BCFs)
License: GNU GPLv3+, due to use of the GNU Scientific Library
Version: 1.13 (using htslib 1.13

[2021-12-07 17:42] naumenko-sa commented on #3571
I see - you have just 16G of disk space left in

[code]
dbsnp is a big file - almost 17G and you need more free space to process it,
see in our installation:

[code]

Some bcbio installation scripts (gnomad for example) require up to 1T of temporary space.

So make sure you have enough space in your partition.

You have such partition in your system:
[code]

Try to install bcbio in
`/exdisk/sda1/b

[2021-12-08 07:51] zetamui commented on #3574
I have checked these two commands, both works and the output to `which xz` is:

[code]

Filesize is `2021-12-08 09:28:43 (2.72 MB/s) - ‘GRCh37-rnaseq-2015-12-01.tar.xz’ saved [2245386164/2245386164]`

[2021-12-08 15:04] panic0918 commented on #3571
**Thank you always for your good answers.
After explaining the situation, I am asking for understanding from the professor and installing it in a new directory.
But errors that didn't come out in the last directory are coming up.****

ngs@basiclab01:/exdisk/sda1$ python3 bcbio_nextgen_install.py /exdisk/sda1/bcbio --tooldir=/exdisk/sda1/bcbio/tools --mamba
Checking required dependencies
Installing

[2021-12-08 16:51] naumenko-sa commented on #3571
Thanks for the testing, you are close!

Sorry for this issue - this one was introduced just yesterday, and I've not yet fixed that.
It is due to purecn upgrade >=2.0.1 which requires bioconductor-rhdf5=2.38 while we have it pinned to 2.36 due to wasabi issue.

Now I've relaxed the pinning, so it should be installing ok, please try.

There might be a wasabi issue after that in the RNA-seq pipeline

[2021-12-08 17:05] naumenko-sa commented on #3574
thanks for checking! It looks like everything works as expected.

It might be a random connection error when downloading from s3, I also got it once.
I made wget a little tougher with `--random-wait --retry-connrefused`

Please try again! If it is still not working, you may just extract all these files to
`[bcbio]/genomes/Hsapiens/GRCh37/rnaseq` and make sure you have references in your
`[bcbio]/g

[2021-12-08 20:26] dauss75 opened #3576 "not writable error"
Hello,

I have installed a latest bcbio and have been getting an error.
I don't see any permission issue of the temporary folder, but fgbio keeps failing. Without passing '-f' below, fgbio seems to be working fine.

[code]

[2021/12/08 15:19:35 | FgBioMain | Info] GroupReadsByUmi failed. Elapsed time: 0.02 minutes.
**Exception in thread "main" java.lang.AssertionError: assertion failed: Cannot wri

[2021-12-08 21:41] naumenko-sa commented on #3576
Hi @dauss75 !

The complete command is longer than that:
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/ngsalign/postalign.py#L242,
so if fgbio can't write the diagram it should not be writing other tmp files as well.

I don't have much ideas here beyond:

[code]

Sergey

[2021-12-09 03:21] jxshi opened #3577 "Can I use sentieon minimap2 to replace minimap2 in alignment with bcbio-nextgen?"
Hi guys,

Just a simple question. I noticed that the latest ```bcbio-nextgen``` pipeline has already included ```sentieon``` and ```minimap2``` in the toolsets. Can I use ```sentieon minimap2``` as aligner in the alignment process? Is there any guide on how to use this tool?

Thank you in advance!

Best,
Jianxiang

[2021-12-09 03:56] panic0918 commented on #3571
**You're so quick to fix your makeup!
Thank you so much.

I've been doing it since then, but it's too long, so I'll skip the middle part.**

ngs@basiclab01:~$ bcbio_nextgen.py upgrade -u skip --genomes hg38
Upgrading bcbio
Upgrading bcbio-nextgen data files
--2021-12-09 11:38:07--  https://github.com/chapmanb/cloudbiolinux/archive/master.tar.gz
Resolving github.com (github.com)... 15.164.81.167
Co

[2021-12-09 05:46] gis-nlsim commented on #3572
Hi,
Now I’m encountering this issue:

2021-12-09 00:51:07 (51.8 MB/s) - â€˜canonical_cancer.txtâ€™ saved [704/704]

Updating hg38 genome resources configuration
Installing snpEff database GRCh37.75 in /apps/bcbio128/genomes/Hsapiens/GRCh37/snpeff
--2021-12-09 00:51:09--  http://downloads.sourceforge.net/project/snpeff/databases/v5_0/snpEff_v5_0_GRCh37.75.zip
Resolving downloads.sourceforge.net (do

[2021-12-09 07:16] lento2002 opened #3579 "bcbio 1.2.8 and 1.2.9 installation problem. snpeff returns 404 with or without dev flag"
**Version info**
bcbio 1.2.8 and 1.2.9.
CentOS Linux release 7.6.1810 (Core)

**To Reproduce**
[](url)
python3 bcbio_nextgen_install.py /mnt/fsx/share/bcbio --tooldir=/mnt/fsx/usr/local --genomes hg38 --aligners star --cores 32

also tried...

python3 bcbio_nextgen_install.py --upgrade="development" /mnt/fsx/share/bcbio --tooldir=/mnt/fsx/usr/local --genomes hg38 --aligners star --cores 32

Result

[2021-12-09 07:40] zetamui commented on #3574
I have tried but still the same error. Then, I tried your suggestions downloading and extracting the GRCh37 rnaseq file and put in the folder as you have suggested. However, since the GRCh37 didn't go through the installation, it is still not usable and I got this error:

``
ValueError: Did not find genome build GRCh37 in bcbio installation: /home/iblc3/Tools/bcbio/galaxy/tool-data/sam_fa_indices.

[2021-12-09 08:38] panic0918 commented on #3571
**I saw this comment.
https://github.com/bcbio/bcbio-nextgen/issues/3570**

ngs@basiclab01:/exdisk/sda1/bcbio/genomes/Hsapiens$ snpEff -version
SnpEff	5.0e	2021-03-09
ngs@basiclab01:/exdisk/sda1$ ls bcbio/genomes/Hsapiens/snpeff/hg38k
ls: cannot access 'bcbio/genomes/Hsapiens/snpeff/hg38k': No such file or directory
ngs@basiclab01:/exdisk/sda1$ ls bcbio/genomes/Hsapiens/snpeff/
ls: cannot access '

[2021-12-09 17:36] dauss75 commented on #3576
Thanks Sergey,
You are right and I grabbed only a command causing the problem.  It turned out that it's not a fgbio related issue, but something has to do with ipython.  I looked at carefully a bcbio log file and found:

2021-12-08 15:07:11.760 [IPClusterStart] Looking for ipcluster_config in /scratch/NGS_Run_Data/Pipeline_Output_Data/QIAseq323/2020/12_DEC/QIAseq-123020-umi/work
/isilon/Illumina/p

[2021-12-09 18:02] dauss75 commented on #3576
I tried without ipython and the problem is still there so my guess was wrong.

[2021-12-09T18:00Z] Exception in thread "main" java.lang.AssertionError: assertion failed: Cannot write file because parent directory is not writable: /scratch/NGS_Run_Data/Pipeline_Output_Data/QIAseq323/2020/12_DEC/QIAseq-123020-umi/work/bcbiotx/tmp7iw80408/MOL20-744629_S1_R1_001-sort.family_size_histogram.tsv
[2021-12

[2021-12-10 02:42] jxshi opened #3581 "mosdepth behaves abnormal."
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9a
- OS name and version (`lsb_release -ds`): CentOS Linux release 7.8.2003 (Core)

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

bcbio-nextgen-com

[2021-12-10 02:54] naumenko-sa commented on #3576
Hi @dauss75 !

Re ipython not writable: it is a known one - sometimes you need to delete `work/log/ipython` if you are rerunning a failed run.

Re the scratch non-writable - I think it is a good puzzle for storage/cluster sysadmins. Isilon could be tricky. It looks like your bcbio instance is on one partition (isilon) and the run is on another (scratch). It is fine, just make sure your UIDs are sy

[2021-12-10 03:01] naumenko-sa commented on #3571
you have the right snpEff binary, now you need to install snpeff5.0 databases.
To do so, you need to upgrade bcbio code as well:

`bcbio_nextgen.py upgrade -u development --genomes hg38`

then your URL should change from sourceforge.net to the microsoft cloud, see here:
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/install.py#L38

I tried it yesterday, and it worked fine for me.

[2021-12-10 03:04] naumenko-sa commented on #3574
Have you tried to repeat the genome install after unpacking the rnaseq files?

[2021-12-10 03:09] naumenko-sa commented on #3572
yes, here you caught a snpeff update, see https://github.com/bcbio/bcbio-nextgen/issues/3570
you need to update bcbio code as well to fetch snpeff db from the microsoft cloud

[2021-12-10 03:15] naumenko-sa commented on #3579
yes, snpeff moved the databases to the Microsoft cloud in snpeff5.0
https://github.com/bcbio/bcbio-nextgen/issues/3570

To fetch them upgrade bcbio code please:

(updating the existing installation)
[code]

(new installation)
[code]

[2021-12-10 03:18] panic0918 commented on #3571
**Thank you for your kind answers.
Why doesn't my address change?**

--2021-12-10 12:14:00--  http://downloads.sourceforge.net/project/snpeff/databases/v5_0/snpEff_v5_0_GRCh38.99.zip
Resolving downloads.sourceforge.net (downloads.sourceforge.net)... 204.68.111.105
Connecting to downloads.sourceforge.net (downloads.sourceforge.net)|204.68.111.105|:80... connected.
HTTP request sent, awaiting respon

[2021-12-10 03:33] naumenko-sa commented on #3577
Hi @jxshi !

Sentieon (https://www.sentieon.com/company/) was once evaluated in bcbio and not used much since. It would be likely more productive  to use sentieon wrappers and cloud tools to run sentieon analyses rather than from bcbio.

What we have is just:
- https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/variation/sentieon.py
- https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/

[2021-12-10 04:12] naumenko-sa commented on #3571
try first to upgrade bcbio code without data?
`bcbio_nextgen.py upgrade -u development`

[2021-12-10 04:19] panic0918 commented on #3571
I commanded that code..

ngs@basiclab01:/exdisk/sda1$ bcbio_nextgen.py upgrade -u development
Upgrading bcbio
Detected 1.2.8 as latest version of bcbio-nextgen on bioconda.
bcbio version 1.2.8 is newer than the conda version 1.2.8, skipping upgrade from conda
Upgrading bcbio-nextgen to latest development version
Collecting bcbio-nextgen
  Cloning https://github.com/bcbio/bcbio-nextgen.git to /tmp/

[2021-12-10 04:59] naumenko-sa commented on #3571
interesting, it looks like pip is acting out - you did not get the update.
you may try:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/development.html#injecting-bcbio-code-into-bcbio-installation

[code]

[2021-12-10 06:09] lento2002 commented on #3579
ok thanks.  i'm running into weirdness still.  after the upgrade with --nodata i see the below; but the version doesnt check out to 1.2.9 ... Any thoughts?

**beginning part of run looks like this**
[root@ip-10-0-0-58 bcbio]# bcbio_nextgen.py upgrade -u development
Upgrading bcbio
Detected 1.2.8 as latest version of bcbio-nextgen on bioconda.
bcbio version 1.2.8 is newer than the conda version 1.2

[2021-12-10 06:27] lento2002 commented on #3579
ok i figured it out; many thanks.  was able to reference this...from a related ticket

# delete all starting with bcbio in
# /exdisk/sda1/bcbio/anaconda/lib/python3.7/site-packages/bcbio*
# clone bcbio:
cd
git clone https://github.com/bcbio/bcbio-nextgen.git
cd bcbio-nextgen
# make sure your current python is bcbio python
which python
# inject bcbio
python setup.py install
# run the data upgrade
b

[2021-12-10 06:59] naumenko-sa commented on #3581
yes, this one was giving me a hard time as well.

The very issue is well known for many years in the old samtools code:
https://github.com/lh3/samtools/pull/7

But why we are hitting it here, I am not sure. In the debugger if you delete the viral.bam and re-creates just well.

I've made the samtools call safer here:
https://github.com/bcbio/bcbio-nextgen/pull/3582

And it seems to be solving the i

[2021-12-11 07:27] naumenko-sa commented on #3579
Thanks, good to know!
The update process was improved a bit: https://github.com/bcbio/bcbio-nextgen/pull/3583

[2021-12-11 07:27] #3579 closed

[2021-12-11 07:28] naumenko-sa commented on #3571
the update process is improved a bit: https://github.com/bcbio/bcbio-nextgen/pull/3583

[2021-12-11 09:49] panic0918 commented on #3571
Thank you for taking care of me!
I think the installation was completed well.

Now
https://bcbio-nextgen.readthedocs.io/en/latest/contents/bulk_rnaseq.html

I'm practicing bulk_rnaseq based on and I'll ask you another question.
Thank you so much.

[2021-12-11 09:49] #3571 closed

[2021-12-11 09:54] panic0918 opened #3584 "Bulk RNA-seq Run the analysis problem"
**Thank you so much for your help regarding the installation.

I'm preparing for Bulkrnaseq by referring to
https://bcbio-nextgen.readthedocs.io/en/latest/contents/bulk_rnaseq.html

But in the link,

3. Run the analysis

It's blocked in the part.**

ngs@basiclab01:/exdisk/sda1/seqc/work$ bcbio_nextgen.py ../config/seqc.yaml -n 8
Running bcbio version: {VERSION}
global config: /exdisk/sda1/seqc/wor

[2021-12-11 11:14] panic0918 commented on #3584
**I'm writing down information just in case you need it.**

ngs@basiclab01:/exdisk/sda1/seqc/work$ grep -c processor /proc/cpuinfo
36
ngs@basiclab01:/exdisk/sda1/seqc/work$ grep "physical id" /proc/cpuinfo | sort -u | wc -l
2
ngs@basiclab01:/exdisk/sda1/seqc/work$ grep "cpu cores" /proc/cpuinfo | tail -1
cpu cores       : 18

[2021-12-12 01:41] naumenko-sa commented on #3584
For STAR alignment the important resource is memory (RAM)
I could speculate that you have 6 x 4 = 24G RAM or more?

STAR needs > 30G RAM, some runs with a lot of data are out of RAM even with 50G, and pass with 100G.

[2021-12-12 04:50] hocinebendou opened #3585 "ValueError: Could not find directory in config for picard"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.1.1
- OS name and version (`lsb_release -ds`): Ubuntu 18.04.6 LTS

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

[2021-12-12 14:47] jxshi commented on #3581
Hi @naumenko-sa ,

I circumvented this issue by turning off ```viral``` in the template ```yaml``` file with the following option.
[code]
And finally, it went through. Cheers!

Best,
Jianxiang

[2021-12-12 14:47] #3581 closed

[2021-12-13 05:09] zetamui commented on #3574
I have tried, upgrade --genomes GRCh37 continues to have error:

[code]

But upgrade --genomes hg38 successfully installed.

[2021-12-13 16:23] naumenko-sa commented on #3560
there was another fix in this module - please check out + purecn2.0.1 fix.

[2021-12-13 16:31] naumenko-sa commented on #3585
Hi @hocinebendou !

Thanks for reporting and sorry about the issue!

You are running bcbio1.1.1 which is from Nov 2018.

If it is your production freeze, just make sure nothing changed in the environment
(whether bcbio/tools/bin in the PATH, `which picard`).

And/Or you may install the latest 1.2.9a bcbio and contribute to 1.2.9 release!

Sergey

[2021-12-13 16:37] mjsteinbaugh commented on #3565
@naumenko-sa Yep totally, I'll work on fixing it this week ASASP. What's your timeline for the 1.2.9 release?

[2021-12-13 17:06] naumenko-sa commented on #3565
thanks Michael!
Honestly, this issue is the main release blocker for now - we have fixed PureCN, snpeff5.0, picard which were also blocking issues. Releasing 1.2.9 tomorrow or Wed would be ideal to give users some time for the post-release testing before the NY.

[2021-12-13 17:22] naumenko-sa commented on #3574
thanks for checking!

This is unfortunate that GRCh37 is not working: the recipes are very similar:
https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/GRCh37/transcripts.yaml
https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/hg38/transcripts.yaml

And GRCh37 works on the other system.
I could only think that the incomplete file was downloaded on your system and cache

[2021-12-13 17:22] mjsteinbaugh commented on #3565
OK I'll work on fixing this today

[2021-12-13 17:24] mjsteinbaugh commented on #3565
Can you send me a copy of the example data from `/n/data1/cores/bcbio/naumenko/_example_bcbio_runs/3_bulk_rnaseq_6samples_chr22_fast/seqc/final` above? That will be easier to test locally

[2021-12-13 17:57] naumenko-sa commented on #3565
Sure, uploading them here:  https://www.dropbox.com/sh/w9ogvhbeqirluq4/AAB-YpjkbhgUP8YHpZOfV9sTa?dl=0
should be 6 files in ~ 30 min

[2021-12-13 18:10] mjsteinbaugh commented on #3565
Ah OK think I may have it -- seems to be a situation where `level = "genes"` is working but `level = "transcripts"` is not working as expected. I'll dig into this further

[2021-12-13 18:13] mjsteinbaugh commented on #3565
Here's the error with more verbosity, I'm working on a version bump that will fix this:

[code]

[2021-12-13 18:31] naumenko-sa commented on #3565
Thanks Michael!
The upload is done!

[2021-12-13 18:32] mjsteinbaugh commented on #3565
Cool I think I have a working fix, will push an update to GitHub soon

[2021-12-13 18:32] mjsteinbaugh commented on #3565
I'm working on some additional improvements to the package that we can table for a later release...this fix should work so you can push the bcbio-nextgen 1.2.9 update

[2021-12-13 20:38] mjsteinbaugh commented on #3565
OK I think bcbioRNASeq v0.3.43 should fix this issue. I'm working on updating on bioconda.

[2021-12-13 21:01] lbeltrame commented on #3560
I'll see about getting bcbio updated in the HPC system I use.

[2021-12-13 22:00] naumenko-sa commented on #3565
Thanks Michael for the quick fix, we are almost there!

I confirm that after the manual update in `anaconda/envs/rbcbiornaseq/bin/R` with
[code]
subprocess.CalledProcessError: Command '/n/data1/cores/bcbio/naumenko/bcbio_devel/anaconda/envs/rbcbiornaseq/bin/Rscript --vanilla -e rmarkdown::draft("/n/data1/cores/bcbio/naumenko/_example_bcbio_runs/3_bulk_rnaseq_6samples_chr22_fast/seqc/final/bcbioRNA

[2021-12-13 22:27] mjsteinbaugh commented on #3565
Ah OK thanks, I'll take a look. I'm working on the `r-bcbiornaseq` recipe update here: https://github.com/bioconda/bioconda-recipes/pull/31978

[2021-12-13 22:28] mjsteinbaugh commented on #3565
For the `quality_control` template, I think it requires changing to `01-quality-control`, see `inst/rmarkdown/templates` here: https://github.com/hbc/bcbioRNASeq/tree/master/inst/rmarkdown/templates

[2021-12-13 22:58] naumenko-sa commented on #3565
I've fixed the template path,
now I am getting this error:

[code]

Any chance you could run a bcbio run yourself to catch all the issues at once?

Sergey

[2021-12-13 23:28] mjsteinbaugh commented on #3565
Yeah I'll work on setting up a new bcbio dev install inside of Docker and test this out tomorrow. I'm also hitting some snages with the bioconda recipe update when attempting to update the R dependencies to Bioconductor 3.14. We can get this sorted out this week but it will take a little debugging. Thanks!

[2021-12-13 23:30] mjsteinbaugh commented on #3565
I think that step is erroring out with the QC template because we need to update the R Markdown params (see here, `bcb_file`: https://github.com/hbc/bcbioRNASeq/blob/master/inst/rmarkdown/templates/01-quality-control/skeleton/skeleton.Rmd#L11)

[2021-12-13 23:33] mjsteinbaugh commented on #3565
Corresponding bcbio-nextgen Python code to render the R Markdown quality control template is here for reference: https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/rnaseq/bcbiornaseq.py#L44

[2021-12-14 01:34] naumenko-sa commented on #3565
unfortunately, bcbio docker is not working so if you don't have a bcbio intallation at hand, I doubt you could debug bcbio+bcbioRNASeq.

bcbioRNAseq writes the rds into `data/bcb.rds`, but the template reads it from `rds/YYYY-MM-DD` (literally YYYY-MM-DD not the actual date). I've fixed the bcbio code to make an extra copy of bcb.rds, and also proposed a change here, please merge:
https://github.c

[2021-12-14 02:21] naumenko-sa commented on #3565
I think it is just because the test sample has <10 mln reads, so I just enclosed it in try and it finishes ok.

@mjsteinbaugh, now I see you took a big role recently: https://mike.steinbaugh.com/
Congratulations on the promotion! You likely have negative amount of time for bcbiornaseq project now?

Thanks for all your work on that! It is an incredible package!
I'll try to take it from here (a new

[2021-12-14 05:45] naumenko-sa commented on #3565
I've pushed Rmd change, created a new tag, and submitted a PR to bioconda:
https://github.com/bioconda/bioconda-recipes/pull/31985

If you could facilitate merging it - it would be really appreciated. I would be able to go for a bcbio release then.

[2021-12-14 12:46] mjsteinbaugh commented on #3565
@naumenko-sa OK I'm working on the bioconda build this morning https://github.com/bioconda/bioconda-recipes/pull/31978/

[2021-12-14 15:04] naumenko-sa commented on #3565
@mjsteinbaugh I see you are reverting r-bcbiornaseq back to r4.0 and bioconductor 3.13.

on the bcbio side: the conda installation of r-bcbiornaseq=0.3.42 + r4.1. + bioconductor3.14 in a separate env went ok, and it worked ok (but the latest small fixes)
we already introduced R4.1 native pipes in bcbio code for bcbiornaseq calls.
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/rnaseq/bcbi

[2021-12-14 16:34] mjsteinbaugh commented on #3565
Yeah that works, we can pin the bioconda recipe specifically to R 4.1 / Bioconductor 3.14, I'm just having build timeout issues that we need to resolve with the bioconda team, then should be good to go!

[2021-12-14 18:11] naumenko-sa commented on #3581
see also this fix: https://github.com/bcbio/bcbio-nextgen/pull/3587

[2021-12-14 18:33] naumenko-sa commented on #3565
the recipe is merged, thanks so much!

[2021-12-14 20:54] naumenko-sa commented on #3565
Unfortunately, after installing from conda `r-bcbiornaseq=0.3.44`
still breaks when plotting quality control report with a real size dataset (>100 mln reads/sample).

It does not break bcbio, since I protected the call with try, but the report.html is not generated.

the error:
[code]

I've uploaded bcb.rds and quality_control.Rmd here to debug:
https://www.dropbox.com/sh/w9ogvhbeqirluq4/AAB-Ypjkb

[2021-12-14 21:04] mjsteinbaugh commented on #3565
OK I'll look into this and maybe we can do a minor bug fix in bcbioRNASeq to address it

[2021-12-15 15:31] mjsteinbaugh commented on #3565
@naumenko-sa OK these issues should be fixed with [`r-acidmarkdown`](https://github.com/acidgenomics/r-acidmarkdown) v0.1.5, which I'm rolling out onto bioconda shortly.

[2021-12-15 19:33] naumenko-sa commented on #3565
good job @mjsteinbaugh . I confirm that it work in seqc bcbio test - the report is there.
@amizeranschi let us know if that works for you as well!

[2021-12-16 01:03] gis-nlsim commented on #3572
Hi,
I'm still getting the following error.
1. I deleted the entire bcbio installation, and re-installed using
wget https://raw.githubusercontent.com/bcbio/bcbio-nextgen/master/scripts/bcbio_nextgen_install.py
python3 bcbio_nextgen_install.py /apps/bcbio128 --tooldir=/apps/bcbio128 --nodata

For installation of Genomes, I used this command:
bcbio_nextgen.py upgrade -u development --genomes GRCh37 -

[2021-12-16 05:13] naumenko-sa opened #3592 "Welcome bcbio 1.2.9"
Hello everyone!

bcbio1.2.9 is out - thanks everyone who contributed to testing and bug fixing during the last month!

We were lucky enough to catch openssl1.1.1 > 3.0 upgrade (Sept 2021) which is pushed by many conda-forge packages.
In the result, the envs which were solving ok with bcbio1.2.8 and 1.2.9a (based on 1.2.8 recipe) won't solve in 1.2.9.
This issue was fixed by pinning openssl in the

[2021-12-16 07:43] lbeltrame commented on #3592
Actually, it *is* possible, although with loads of manual fiddling. Source: I was able to after trying to upgrade before this issue was posted. Took several hours and *lots* of effort, though.

[2021-12-16 07:44] panic0918 commented on #3584
**Hello!
It's been a while since I posted comment!
It's Christmas soon. I'm curious if you're having fun.
Thanks to your help, I was practicing Bulk rna-seq.
Thanks to you, I got compliments from the professor. Thank you again.
I have about three questions, so please answer when you are free.
:)**

1.Is the analysis time good?
aligner: star
expression_caller: salmon & kallisto
fusion_caller: arrib

[2021-12-16 09:36] parlar opened #3593 "log4j vulnerabilities?"
There are a number of packages used by bcbio that depend on log4j, including fgbio, hmftools, gridss, picard, break-point-inspector, gatk, bcbio-variation.

Since these tools are not connected to web services in bcbio it seems to me that they cannot, or unlikely to, get exploited. I just want to confirm this, though.

[2021-12-16 14:21] naumenko-sa commented on #3584
Hi @panic0918 !
I am glad that bcbio works for you!
- analysis times looks reasonable
- while you could specify tophat as an aligner (https://bcbio-nextgen.readthedocs.io/en/latest/contents/configuration.html#alignment) tophat/cufflinks are from the previous generation of RNA-seq tools; please use STAR/hisat/kallisto/salmon/pizzly/arriba instead;
SN

[2021-12-16 20:35] naumenko-sa commented on #3572
HI @gis-nlsim !

It seems that somehow you are calling the older bcbio. In bcbio1.2.9 snpeff database URL is different:
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/install.py#L38

What is your:
[code]

[2021-12-17 02:19] gis-nlsim commented on #3572
Thanks, it may be that when I wget the installation script, it was still pointing to the old bcbio? I’ve re-installed with all the steps and it’s installed successfully.

Regards,
N L Sim

[2021-12-17 02:19] #3572 closed

[2021-12-17 05:53] naumenko-sa commented on #3572
No, for the data installation you call bcbio_nextgen.py, not the installation script, i.e. the installed python package, which should point to the Azure cloud for snpeff. Likely, you still have two bcbio in your system and in the PATH.

I've just ran a GRCh37 installation after bcbio1.2.9 installation:

[code]

It finished ok:
[code]

[2021-12-17 06:01] amizeranschi opened #3594 "Problem installing sacCer3 genome data (snpEff) with bcbio 1.2.9"
Hello,

I've installed Bcbio 1.2.9 from scratch and I am now trying to install the sacCer3 genome data, but it's not finding the snpEff data:

[code]

[2021-12-17 18:14] naumenko-sa commented on #3593
Thanks for bringing this up @parlar !

I think it depends on how the end user runs bcbio. If is on a cluster in a protected environment, that should not be an issue, if bcbio is deployed as a part of a bigger analysis plattorm with a web interface for results or instance tracking, that might be an issue. No doubt the authors of the mentioned java tools are busy to fix them right away. Once the new

[2021-12-17 18:22] naumenko-sa commented on #3594
Thanks for reporting - you are the first one working in sacCer3 in bcbio1.2.9.

I've updated the snpeff.db version, please try again (you need to upgrade to the development first):
https://github.com/bcbio/bcbio-nextgen/blob/master/config/genomes/sacCer3-resources.yaml#L5

[code]

S

[2021-12-18 02:49] #3570 closed

[2021-12-18 02:50] #3538 closed

[2021-12-18 02:52] naumenko-sa commented on #3507
This should be resolved in bcbio1.2.9. Please re-open if you still see issues there.

[2021-12-18 02:52] #3507 closed

[2021-12-18 02:53] naumenko-sa commented on #3505
End of year cleaning - octopus is updated in bcbio 1.2.9. feel free to re-open if you see any issues.

[2021-12-18 02:53] #3505 closed

[2021-12-18 02:53] naumenko-sa commented on #3500
bcbio 1.2.9 receives purecn 2.0.1

[2021-12-18 02:53] #3500 closed

[2021-12-18 03:48] naumenko-sa commented on #3498
containers are not supported at the moment!

[2021-12-18 03:48] #3498 closed

[2021-12-18 03:49] #3511 closed

[2021-12-18 10:01] amizeranschi commented on #3498
Any plans to bring back support for containers? It could help a lot with reproducing older studies, given how it's not normally possible to install older versions of Bcbio and its dependencies.

[2021-12-18 10:45] amizeranschi commented on #3594
Thanks a lot, Sergey. It worked alright now. It could be worth checking out the other installable genomes as well, in case there are any other situations such as this one.

[2021-12-18 10:45] #3594 closed

[2021-12-18 13:09] amizeranschi commented on #3565
@naumenko-sa @mjsteinbaugh

Thanks again for all your help so far. After upgrading to the latest development version and [getting the sacCer3 data](https://github.com/bcbio/bcbio-nextgen/issues/3594), the RNA-seq analysis progressed further for me, but still ended up crashing.

Let me know if you want me to share a script with everything I'm doing here, in case it could help with reproducing and d

[2021-12-18 14:28] mjsteinbaugh commented on #3565
Thanks @amizeranschi I see the problem there, and it appears to be specific to the sacCer3 genome:

[code]

Can you post a copy of the `tx2gene.csv` file shown here so I can work on a fix?

Best,
Mike

[2021-12-18 14:30] mjsteinbaugh commented on #3565
I also need to add an update to exclude the `bcbioRNASeq` directory, which is new in the bcbio-nextgen v1.2.9 update:

[code]

This should return:

[code]

This is handled by the [`sampleDirs`](https://github.com/hbc/bcbioBase/blob/master/R/sampleDirs.R) function in our bcbioBase package.

[2021-12-18 14:43] amizeranschi commented on #3565
Thanks for the reply @mjsteinbaugh

I'm attaching the file you requested: `tx2gene.csv`: [tx2gene.csv](https://github.com/bcbio/bcbio-nextgen/files/7739401/tx2gene.csv)

I'm also attaching a file with the commands I used to set up bcbio, to download the data and to set up the bcbio runs.

The relevant lines for this analysis are 115-166 (downloading the data) and 206-235 (setting up and running th

[2021-12-18 14:49] mjsteinbaugh commented on #3565
OK great thanks, I'll work on a fix for this over the weekend and will be in touch soon with an update.

[2021-12-22 12:12] VikArz02 opened #3596 "How install genome data to smb disk?"
- bcbio version (`bcbio_nextgen.py --version`):
- 1.2.9
- OS name and version (`lsb_release -ds`):
- Ubuntu 20.04

Hello!
I have smb disk /mnt/lapd and I want to install genome data to this disk. How can I specify the path?

I try this one:
`bcbio_nextgen.py upgrade -u skip --cores 20 --tooldir ~/Soft/bcbio/tools --tools --genomes hg38 --aligners hisat2 --datatarget variation`

but i have this mes

[2021-12-23 01:58] gis-nlsim opened #3597 "RNASeq STAR index building taking a long time"
Hi,
I am installing bcbio v1.2.9 on a fresh cluster. The server I'm installing on is an AWS M5A.2xLarge with 32GB RAM and 8vCPUs.
When installing the genome, the STAR indexing appears to take a very long time; it's been indexing since 18th December 2021, and as of writing (23rd December 2021), it is still indexing.

I am not running anything other than installing the genome.

May I know if this ha

[2021-12-24 04:58] panic0918 commented on #3584
**Thank you for your answer.
There was a problem while using it recently.
I tried to fix it myself, but it's not going on.
Before I start driving, I successfully started driving with control_1, 2, 3.
After that, I wanted to get treat_r1.
so...**

`ngs@basiclab01:/exdisk/sda1$ vi seqc.csv`
`samplename,description,category
NA1,Treat_r1,Treat`

**I tried driving it,but...**

`ngs@basiclab01:~/myBulk_

[2021-12-27 03:38] gis-nlsim opened #3598 "samblaster exit with status 1"
Hi,

I installed bcbio v129 on an AWS cluster, and tested with a set of fastq files that were previously successfully processed in another HPC (with bcbio v107). For some reason, I encountered the following samblaster issue, and I'm wondering if this has anything to do with memory issues? Seeking your advice on this, thank you.

[code]

My AWS cluster consists of R5A.xLARGE nodes (4 cpus, 32 GB pe

[2021-12-27 08:19] gis-nlsim opened #3599 "ggd-run.sh returned non-zero exit status 255"
I'm trying to install bcbio (27th Dec 2021), but am encountering this issue when installing the genome. Seek your help in this matter please. Thank you.

My command:
bcbio_nextgen.py upgrade -u skip --genomes GRCh37 --aligners bwa --aligners star

Writing to .uacRYK
Merging 221 temporary files
[E::bgzf_flush] File write failed (wrong size)
[merge_blocks] Error: cannot write to dbsnp-154.vcf.gz
Cle

[2021-12-27 08:22] gis-nlsim commented on #3599
Apologies, I think it's because the disk ran out of space.

[2021-12-27 17:33] naumenko-sa commented on #3584
So you ran bcbio with 3 samples and then re-ran with one sample?
To apply the changes, you need to delete your project/work and re-run,
otherwise bcbio will perform only the last step (upload to the project dir).

[2021-12-28 00:10] gis-nlsim commented on #3599
Hi,
Turns out it's not due to disk space; hence re-opening the issue.
I ran the installation of genomes on a 11TB disk, and the error still shows up

Merging 221 temporary files
[E::bgzf_flush] File write failed (wrong size)
[merge_blocks] Error: cannot write to dbsnp-154.vcf.gz
Cleaning
Traceback (most recent call last):
  File "/bcbio/v129/anaconda/bin/bcbio_nextgen.py", line 228, in <module>

[2022-01-03 19:33] j5jun opened #3600 "Installation Error when updating"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): Version 1.2.9
- OS name and version (`lsb_release -ds`): macOS Monterey (Version 12.0.1)

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

Traceback (most

[2022-01-04 15:04] naumenko-sa commented on #3600
Hi @j5jun !

You need a Linux Server/Cluster to install bcbio. Bcbio is useless on a laptop and not working on MacOS.

Sergey

[2022-01-04 15:08] naumenko-sa commented on #3599
Hi @gis-nlsim!
How much RAM do you have in the installation session?
SN

[2022-01-04 15:14] naumenko-sa commented on #3597
no, it should not take this long. I've installed hg38/STAR recently, it built in a couple of hours (50G RAM/1CPU). Have you tried to restart or to built an index from the command line?

[2022-01-04 15:21] naumenko-sa commented on #3598
Hi @gis-nlsim !
What is your yaml file?

`-n 4` means how much cores you request, not workers (engines). engines = 4 (from -n) / 2 (from bcbio_system.yaml)  = 2.
So your workers are 2 cores / 16G RAM.

With updated versions, tools might become more memory greedy. our default in the yaml is 16cores + 4G/Core, i.e. 16 cores + 64G RAM.

You might want to use all RAM available on 32G nodes
[code]
or
[

[2022-01-04 15:34] naumenko-sa commented on #3596
Hi @VikArz02 !

bcbio is simply trying to untar the file in the mounted partition.. Make sure you can do it from the command line, i.e. your mount options allow that.

Sorry - I have not configured samba in a while, I am not sure about the particular mount options.

Sergey

[2022-01-05 18:16] j5jun commented on #3600
Thank you :)

[2022-01-05 18:16] #3600 closed

[2022-01-06 16:29] Priyankanator commented on #2564
Hi, I am having same problems..when I looked at the website of broadinstitute it mentions this -
https://gatk.broadinstitute.org/hc/en-us/articles/360035890811-Resource-bundle
The FTP server is intended for people who wish to download files to run on them locally. However, FTP is local to the Broad Institute (there are no mirrors), it has tight limits on concurrent downloads, and users in some cou

[2022-01-06 16:53] naumenko-sa commented on #3600
Ha-ha, sorry for disappointing you. You can develop bcbio under macOS for sure - just clone the git repo.
For any real NGS data analysis you would need reference files, which currently for Hsapiens/hg38 are 81G (reference + bwa + rnaseq + STAR) . The NGS datasets (input data) depending on a projects are 10G - 1T. The intermediate work files in the pipeline are from 10th of GB to Terabytes. and the

[2022-01-06 17:03] Priyankanator opened #3601 "GRCh37 variation data cannot be upgraded"
Hi, I have been trying to upgrade the GRCh37 genome version variation data but it stalls at
Running GGD recipe: GRCh37 hapmap 3.3
--2022-01-06 11:57:19--  ftp://gsapubftp-anonymous:*password*@ftp.broadinstitute.org/bundle/b37/hapmap_3.3.b37.vcf.gz
           => ‘-’
Resolving ftp.broadinstitute.org (ftp.broadinstitute.org)... 69.173.70.223
Connecting to ftp.broadinstitute.org (ftp.broadinstitute.or

[2022-01-06 21:56] gis-nlsim commented on #3599
This is an R5A.4xLarge AWS instance with 128GB (not a cluster)

[2022-01-06 22:02] gis-nlsim commented on #3598
Thank you, I'll increase the number of cores and try again.

[2022-01-06 22:02] #3598 closed

[2022-01-08 14:23] mjsteinbaugh commented on #3565
OK this tx2gene issue with the sacCer3 genome should be fixed by the pending update to `r-acidgenomes` 0.2.20. I'm working on pushing this to bioconda today.

See relevant code change here: https://github.com/acidgenomics/r-acidgenomes/blob/main/R/AllClasses.R#L864

You can check this with your install here:

[code]

[2022-01-09 04:47] naumenko-sa commented on #3565
thanks @mjsteinbaugh!
I've pinned it in cloudbiolinux:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L280

@amizeranschi please let us know if it works for you.

[2022-01-09 04:48] naumenko-sa commented on #3577
NY clean-up!

[2022-01-09 04:48] #3577 closed

[2022-01-09 18:09] amizeranschi commented on #3565
Hello,

Thanks for looking into this. I upgraded bcbio and tools to latest development and launched R from the directory `${bcbio_dir}/anaconda/envs/rbcbiornaseq/bin` and the commands mentioned by @mjsteinbaugh above ran successfuly. AcidGenomes v. 0.2.20 seems to be available.

However, the bcbio analysis still ended up crashing, this time due to the version of a different package:

[code]

[2022-01-09 22:00] mjsteinbaugh commented on #3565
You're seeing this error because the conda environment solver isn't working correctly. We should be installing these versions:

[code]

[2022-01-10 02:19] naumenko-sa commented on #3599
Unfortunately, I can't reproduce this issue, I've successfully installed GRCh37 reference with

[code]

dbsnp message:
[code]

and it continued till the finish:

[code]

The install took 5h (including STAR), session with 20G RAM, dbsnp processing step took 100GB of intermediate files, total install size 79G.

In your place, I would try to look at AWS freeze/timouts/runnig as nohup.

[2022-01-10 04:38] naumenko-sa commented on #3601
Hi @Priyankanator !

Thanks for describing the issue in detail! the FTP server is still working, but, yes, it has connection limit. I've just installed GRCh37 successfully to investigate https://github.com/bcbio/bcbio-nextgen/issues/3599

So, I think, you might just start it and let it run during the night.
If you could dig an exact URL in the google or Azure clouds to use in the recipe for hapmap

[2022-01-10 10:03] VikArz02 commented on #3596
Thank you! So, I will talk with my colleagues about it.

[2022-01-10 15:43] #3596 closed

[2022-01-10 20:05] amizeranschi commented on #3565
@naumenko-sa

Could you pin these package versions as well in cloudbiolinux?

[2022-01-10 20:28] naumenko-sa commented on #3565
I've added https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L281, please try again!

[2022-01-11 05:12] amizeranschi commented on #3565
Thanks, but that doesn't seem to be ebough to get everything installed as it should. You might have to pin all the 6 package versions mentioned above.

[code]

[2022-01-11 07:00] naumenko-sa commented on #3565
please try again, I hope we got all of them now

[2022-01-11 08:30] amizeranschi commented on #3565
Thanks a lot. We're definitely making progress.

This time, `bcbiornaseq` complains about the `ref-transcripts.gtf` file for sacCer3:

[code]

I have checked now and that GTF file doesn't have any header. It was installed as part of the sacCer3 genome by bcbio.

[2022-01-11 12:08] mjsteinbaugh commented on #3565
Thanks @amizeranschi can you post that GTF file so I can take a look and work on a fix?

[2022-01-11 13:16] amizeranschi commented on #3565
Sure thing, here you go. I changed the extension to .txt so that GitHub would accept it.

[ref-transcripts.gtf.txt](https://github.com/bcbio/bcbio-nextgen/files/7846742/ref-transcripts.gtf.txt)

[2022-01-13 00:45] mjsteinbaugh commented on #3565
OK this appears to be fixed in the development version of `r-acidgenomes`, which is not yet suitable for deployment on bioconda just yet. I'll post an update when I finish rolling out a stable release supporting this fix.

https://github.com/acidgenomics/r-acidgenomes/tree/develop

[2022-01-13 17:49] Priyankanator commented on #3601
Hi Sergey,
Thanks for replying.
I did tried to download by ftp but it did not worked. Eventually I downloaded the datasets either from gsutil command line or from autheticated link for datasets on google clouds. Bcbio tried for 20 times and then drops as an error for ftp client.
I did then manual installation for most of them. Also, in hg19 version, for GIAB files, it still uses ftp rather than ht

[2022-01-13 17:53] Priyankanator opened #3602 "bin/bash:samtools command not found- hg19 somatic variant calling"
Hi,
I have been trying to run bcbio variant calling. while running the pipeline it gives error -
Job <bcbio_nextgen.py project_1.yaml> was submitted from host <node153.hpc.local> by user <prawat> in cluster <pennhpc>.
Job was executed on host(s) <32*r94001>, in queue <denovo>, as user <prawat> in cluster <pennhpc>.
</home/prawat> was used as the home directory.
</project/rdrapkinlab/WGS_bcbio/conf

[2022-01-16 05:07] naumenko-sa commented on #3602
Hi @Priyankanator !

samtools is not found. Please make sure you have added both `bcbio/anaconda/bin` and `bcbio/tools/bin` to your PATH.
https://bcbio-nextgen.readthedocs.io/en/latest/contents/installation.html

[code]

A side note: it could be useful to organize bcbio projects according to the proposed structure:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/configuration.html

SN

[2022-01-18 07:18] pvanheus opened #3603 "bcbio_nextgen data upgrades when trying to download snpEff_v4_3_GRCh38.99.zip"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`): Ubuntu 18.04.6 LTS

**To Reproduce**
Exact bcbio command you have used:
[code]
This was after already running `bcbio_nextgen.py upgrade -u stable --tools`. I am trying to follow the instructions [here](https://bcbio-nextgen.readthedocs.io/en/latest/contents/installation.html#upgrade).

[2022-01-18 17:55] naumenko-sa commented on #3603
Hi @pvanheus !

Thanks for reporting and sorry about the issue!

It looks like you have been upgrading from the older bcbio version. bcbio1.2.9 is a major upgrade - python3.7, a lot of changes in the conda environments. Could you please try to install bcbio code and tools from scratch and re-use the genomes folder?

Since it is a common issues, I've put a note in the docs:
https://bcbio-nextgen.re

[2022-01-20 08:08] vdejager opened #3604 "option to run controller job on different partition"
As described in the docs:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/parallel.html#ipython-parallel

this would submit a  launcher job to queue "priority", the controller job to "medium" and the work jobs to medium as well.
Is it possible to run the controller job on a different partition than the work jobs?
Our cluster has a specific queue for small core count jobs like controller jo

[2022-01-20 14:38] TingtingSsl2 opened #3605 "Python error when installing data"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.0.4
- OS name and version (`lsb_release -ds`):  BWH ERISONE server

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.
Upgrading bcbio
Traceback (most rece

[2022-01-20 15:29] TingtingSsl2 opened #3606 "Error in Install STAR index"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9a
- OS name and version (`lsb_release -ds`): HMS O2 server

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

PermissionError: [Errno 13] Permission d

[2022-01-20 18:54] naumenko-sa commented on #3604
No, unfortunately, there is no such option.

However, only the launcher (the job that goes to priority queue) is small,
the controller job could require up to 20G of RAM and more in some cases (-r conmem 20)

[2022-01-20 18:59] naumenko-sa commented on #3605
Hi @TingtingSsl2

bcbio 1.0.4/python2.7 is not supported anymore. Please install the current version - 1.2.9/python3.7.
https://bcbio-nextgen.readthedocs.io/en/latest/contents/intro.html

Sergey

[2022-01-20 19:06] naumenko-sa commented on #3606
Hi @TingtingSsl2 !

You can't install in this folder without having permissions.
STAR index is already installed - you can just use it.

bcbio1.2.9:
. ./n/app/bcbio/1.2.9/.bcbio_profile

bcbio1.2.9a:
`ml bcbio/latest`

Sergey

[2022-01-20 19:09] #3574 closed

[2022-01-20 19:10] #3547 closed

[2022-01-20 19:10] naumenko-sa commented on #3515
updated in the bcbio 1.2.9 release.

[2022-01-20 19:10] #3515 closed

[2022-01-20 21:23] naumenko-sa commented on #3513
octopus is updated in bcbio1.2.9 release

[2022-01-20 21:23] #3513 closed

[2022-01-20 21:56] #3541 closed

[2022-01-20 21:58] #3552 closed

[2022-01-20 22:12] #3605 closed

[2022-01-21 02:14] #3576 closed

[2022-01-21 07:48] kokyriakidis opened #3608 "Error in RNA-Seq pipeline"
Hi!

Q1: Is there a reason that bcbio still uses salmon v1.4.0?
[code]
Q2: I get the following error:
[code]

I do not know if there is a problem with my installation or `tidyverse` is missing from the installed depedencies.

I now try a clean install but I get this error:
[code]
Only after running it with sudo e.g. `sudo python3 bcbio_nextgen_install.py /bcbio --tooldir=/bcbio/tools --nodata` man

[2022-01-21 16:06] kokyriakidis commented on #3585
Hi @naumenko-sa

I installed a fresh bcbio 1.2.9 and I get the same error message

[code]
which picard does not produce anything and `picard --version` says that it does not exists.

[2022-01-21 16:47] Priyankanator commented on #3602
Hi SN,
Thanks for replying. I figured that when I run this in my home directory, it runs smoothly but when running on cluster, it gives this error.
Also, while running the pipeline for variant calling further, now I am getting this error -
Traceback (most recent call last):
  File "/project/rdrapkinlab/WGS_bcbio/anaconda/lib/python3.7/site-packages/bcbio/provenance/do.py", line 26, in run
    _do_

[2022-01-21 19:03] naumenko-sa commented on #3602
Hi @Priyankanator !

It looks like a keyboard interrupt (Ctrl+C) in terminal.
Are you running it in an interactive session or are you submitting a batch job?

SN

[2022-01-21 20:03] adammaikai opened #3609 "LCR regions still in final VCF"
My germline WGS run completed successfully, however, I double checked the LCR regions using a bedtools intersectBed of the final vcf and the provided LCR.bed.gz, and variants were still present.
[code]
I even see the bed file being used in the pipeline from the commands log, for example:
[code]
Did I misunderstand that step in the pipeline?

**Version info**
- bcbio version (`bcbio_nextgen.py --ve

[2022-01-21 20:14] naumenko-sa commented on #3585
Hi @kokyriakidis !

Are you sure you have added `bcbio/tools/bin` to the PATH after installation?

on my system:
[code]

Sergey

[2022-01-21 21:15] kokyriakidis commented on #3585
Oups... I had wrong path. Thanks for the reminder!

[2022-01-21 21:33] #3585 closed

[2022-01-21 21:42] naumenko-sa commented on #3608
1) We are not pinning salmon version:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L111
In my fresh installation:
[code]

2) R in anaconda/bin/R has tidyverse:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L262

[code]

No sure, what exactly happens in your installation,

[2022-01-21 21:45] kokyriakidis commented on #3608
I do not know what is happening. I can only install it using sudo. Otherwise it gets stuck during the resolve phase. I have to other conda installations in the system.

Installing it using sudo installed the correct package versions.

Thanks again for looking into it.

[2022-01-21 21:45] #3608 closed

[2022-01-21 22:44] naumenko-sa commented on #3609
Hi @adammaikai

Thanks for reporting. A fair point!

I think the filtration does happen, but what we see is a boundary effect: there should not be many of these leftover variants.

I've checked it on a smaller WES chr22 example. Please note that I reported both `-wa` and `-wb` entries:

[code]

So these two variants are right on the left boundary of the interval, and the exclusion logic did not ca

[2022-01-21 22:47] naumenko-sa commented on #3608
ok, maybe it is system specific. Have you included `--mamba` during the installation (helps with solving)?

[2022-01-21 22:49] kokyriakidis commented on #3608
Yes, I have tried both conda and mamba.

[2022-01-22 08:52] vdejager commented on #3604
Thanks. it turns out the I could use the --local_controller option with -r conmem 16 for the launcher job. Apparently the node on which the launcher/controller job lands reserves 16G per core. This was enough for my job.

I'm charged per 0.25 node (one node is 128 cores/256 GB)
For the workers I use the cores=32 option in combination with -n 256 to get two full "nodes" (may be on different physica

[2022-01-22 10:12] amizeranschi commented on #3565
@mjsteinbaugh

Would you consider adding support in bcbiornaseq for differential affinity in ChIP-seq and ATAC-seq peaks? Given that bcbio produces consensus peaks and computes read counts, these could be used in DESeq2 exactly like in the RNA-seq scenario.

https://bcbio-nextgen.readthedocs.io/en/latest/contents/atac.html#differential-affinity-analysis

[2022-01-23 03:53] naumenko-sa commented on #3604
Thanks for digging out the `--local_controller` option!
Now I've documented it here https://bcbio-nextgen.readthedocs.io/en/latest/contents/parallel.html#ipython-parallel

I think for the typical analysis which is rather I/O intensive than computationally intensive, getting less physical nodes would restrict your total I/O bandwidth.

Of course it depends on your particular environment. Say, on a

[2022-01-23 04:16] #3386 closed

[2022-01-23 04:18] #3435 closed

[2022-01-23 04:21] #3254 closed

[2022-01-23 05:32] #3298 closed

[2022-01-23 05:34] naumenko-sa commented on #3232
purecn runs fine as of bcbio1.2.9

[2022-01-23 05:34] #3232 closed

[2022-01-23 13:59] amizeranschi commented on #3298
Hi @naumenko-sa

How does the `lcr` option work? Where are these regions defined, with respect to the reference genome that's being used? And is there such a list of LCRs for sacCer3? I have checked the file `sacCer3-resources.yaml`, but there doesn't seem to be any lcr option defined in there.

After some online searching I found mention of a list of blacklist regions in sacCer3 (see slide no. 12

[2022-01-24 04:43] naumenko-sa commented on #3298
Hi @amizeranschi !

The LCR option is described in the docs in detail - search for lcr:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/configuration.html#algorithm-parameters

There are many filtration strategies in different pipelines. The exclude_regions (a former remove_lcr: true) is for small variants calling (variant2 pipeline)
There are similar filtration strategies in
- chip-seq -

[2022-01-24 18:15] kokyriakidis opened #3611 "hg38 transcripts update"
Hi @naumenko-sa !

Is there a reason that hg38 transcripts are not updated to the latest release?

[2022-01-24 20:32] naumenko-sa commented on #3611
Hi @kokyriakidis !

You can start using the latest transcriptome today with: `transcriptome_gtf` and `transcriptome_fasta`.
The analysts who needed the latest transcriptome were doing it all the way.

We were holding the transcriptome update for a long time,
because when running a large production,
one would better have a consistent genome + transcriptome annotation, rather than a set of upgrades.

[2022-01-24 20:39] kokyriakidis commented on #3611
Thank you very much for the info!

[2022-01-24 20:39] #3611 closed

[2022-01-25 00:03] adammaikai commented on #3609
Thank you for the clarification, that was very helpful.
Adam

[2022-01-26 11:00] vdejager commented on #3604
Running SAR is not an option. I'll try to profile the workers. Another option to test will be targeting the jobs at high memory nodes and adjusting the java params. For now, time is not really an issue and since we only have a limited number of samples, running Dragen on AWS will only eat the budget (its hard to justify when subsidized computing time is available)

Maybe another thing: is there a

[2022-01-26 14:14] mjsteinbaugh opened #3612 "T2T CHM13 reference genome"
The T2T consortium has released a full build of the human genome based on the CHM13hTERT cell line, described here: https://github.com/marbl/CHM13

The complete genome is available on NCBI here: https://www.ncbi.nlm.nih.gov/assembly/GCA_009914755.3

I'm interested in testing this out compared to GRCh38/hg38, and was wondering if we can add this as a pre-built default genome for bcbio alongside hg3

[2022-01-26 14:55] naumenko-sa commented on #3604
No, I just parsed it in the command line when I needed. 50% of variant calling pipeline is bwa alignment. 10% - variant calling per se (mutect2), and the rest is annotation and etc.

[2022-01-26 15:10] amizeranschi commented on #3298
Thanks for clarifying. It would be useful if the `exclude_regions` option also accepted a BED file directly, as well, similar to how it works with `variant_regions`, but with `exclude_regions`, the provided BED file would effectively get subtracted from the reference genome.

[2022-01-28 04:36] naumenko-sa commented on #3612
yes, this is a big update. ok, let us do it!

[2022-01-28 04:37] #3609 closed

[2022-01-28 16:50] naumenko-sa commented on #3298
Thank you for the suggestion!

Unfortunately, this improvement does not pass the activation threshold: there is a lot of logic related to bed files in bcbio in many use cases: callable regions, variant calling, SV calling, WGS, WES, panels, amplicons, QC/fastqc/multiqc/mosdepth/qualimap, coverage reporting, remove extracontigs. You may see how complex it gets https://github.com/bcbio/bcbio-nextgen

[2022-01-28 16:51] naumenko-sa commented on #3498
Yes, containers is the obvious next big target after cleaning up conda envs and snpeff upgrade.

[2022-01-28 16:59] amizeranschi commented on #3298
Hah, fair enough, you make a good point. FYI, I already have your suggestions implemented myself, but I figured having them implemented in bcbio somehow could make things easier for other people:

[code]

[2022-01-31 11:01] amizeranschi commented on #3298
@naumenko-sa One more question on this topic and I'd rather write it here instead of opening a separate thread. Regarding what you wrote earlier:

How does chipseq greylisting work and in which situations should it run successfully? I see the following messages in my runs:

https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/chipseq/peaks.py#L150

What is causing them and how could I get grey

[2022-02-02 16:13] kokyriakidis opened #3613 "Arriba pinned"
Hi!

Why bcbio has arriba pinned to v1.2.0?

[code]

[2022-02-03 03:26] naumenko-sa commented on #3613
Hi!

Thanks, a good point!

In brief, we are still pinning STAR
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L131
because production users were not comfortable switching to a newer one due to some issues + need of extensive validation, and because of the need to rebuild indices
https://github.com/alexdobin/STAR/issues
https://github.

[2022-02-03 03:28] #3584 closed

[2022-02-03 03:29] #3496 closed

[2022-02-03 03:29] #3471 closed

[2022-02-03 04:32] kokyriakidis commented on #3613
Thanks again for the detailed answer!

[2022-02-03 04:32] #3613 closed

[2022-02-08 11:23] golubnikova opened #3614 "ModuleNotFoundError: No module named 'conda._vendor.auxlib' | bcbio version 1.2.9"
Hi!

Thank you for your updated fast installation.
Unfortunately, I have a problem with `conda` when run the  `bcbio_nextgen_install.py`.

**Version info**
- bcbio version: 1.2.9
- OS name and version: ubuntu:18.04

**To Reproduce**
Exact bcbio command you have used:
[code]

**Log files**
[bcbio-nextgen-commands.log](https://github.com/bcbio/bcbio-nextgen/files/8023264/bcbio-nextgen-commands.log)

[2022-02-10 00:14] Priyankanator opened #3615 "postprocessing of vcf file error -"
Hi
I am running the variant calling pipeline with vardict and mutect2..After calling variants and during the annotation process  I get this error -
[2022-02-09T12:12Z] Calculating variation effects for T-ag_1, vardict
[2022-02-09T12:28Z] Annotate VCF file: T-ag_1, vardict
[2022-02-09T12:30Z] Filtering for T-ag_1, vardict
[2022-02-09T12:30Z] Prioritization for T-ag_1, vardict
[2022-02-09T12:30Z] Un

[2022-02-10 12:13] HudoGriz opened #3616 "Peddy fails with gvcf data"
Hi,

I encountered a similar issue to https://github.com/bcbio/bcbio-nextgen/issues/3506
`peddy` fails when running `tools_on: gvcf`. I repeated the run on the same data without `tools_on: gvcf` and with `jointcaller: gatk-haplotype-joint`, without specified bulk name (so that it only jointcalls on that sample). Both times `peddy` successfully finished.
My goal is to obtain `gvcf` data with a `ped

[2022-02-12 06:01] naumenko-sa commented on #3614
Hi @golubnikova !

Thanks for reporting and sorry about the issue!

It seems that
https://github.com/bcbio/bcbio-nextgen/blob/master/scripts/bcbio_nextgen_install.py#L48,
i.e. `mamba install conda-build`
started triggering the upgrade of python and downgrade of mamba:

[code]
hence the downstream issues.

It did not happen before in many installations since 1.2.9 release, hopefully, it will get re

[2022-02-12 17:30] naumenko-sa commented on #3615
Hi @Priyankanator !

What is your project yaml file? What kind of annotations were applied?

Sergey

[2022-02-15 20:24] Priyankanator commented on #3615
Hi Sergey,
Here is the project yaml file -
details:
- algorithm:
    aligner: false
    bam_clean: remove_extracontigs
    variantcaller: [vardict,mutect2]
  analysis: variant2
  description: T-ag_1
  files:
  - /project/rdrapkinlab/WGS_bcbio/config/FT_cell/input/FT189.bam
  genome_build: hg19
  metadata:
    phenotype: tumor
- algorithm:
    aligner: false
    bam_clean: remove_extracontigs
    v

[2022-02-16 07:15] golubnikova commented on #3614
@naumenko-sa, it works, thank you!

[2022-02-16 10:38] golubnikova opened #3618 "Adding option for EVENT_SIZES in validate.py"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): bcbio version: 1.2.9 (with [dev version of installation](https://github.com/bcbio/bcbio-nextgen/issues/3614#issuecomment-1037009659))
- OS name and version (`lsb_release -ds`): ubuntu:18.04

Hi!
I'm trying to follow this [instruction](https://github.com/bcbio/bcbio_validations/tree/master/huref_sv) to run scripts for SV-validation.
U

[2022-02-17 03:32] DrMcStrange commented on #3520
In case anyone's interested, I've now done some testing on 1.2.9 and this issue appears to be resolved.

Still, I'm curious to know what caused this, and whether anyone else ran into the same issue with GATK joint calling. From my earlier testing, it affected joint calling (but not population calling) on at least versions 1.2.4 and 1.2.8.

[2022-02-17 03:46] naumenko-sa commented on #3593
Thanks!
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L290

[2022-02-17 03:51] #3614 closed

[2022-02-17 13:48] lbeltrame commented on #3593
More updates that I was able to find related to log4j:

- fgbio (1.5.0 or 1.5.1)
- Gripss 2.0 and Linx 1.17 from hmftools (not sure if they're used by bcbio)
- picard 2.26.10
- gridss 2.13.2

[2022-02-20 04:39] naumenko-sa commented on #3615
Hi @Priyankanator !

Thanks for providing more details!

We need to dig into this command:

[code]

Could you please try running it outside of bcbio, and provide your combine.lua and combine.conf?

Sergey

[2022-02-21 01:13] DrMcStrange opened #3619 "Callable regions step running very slowly"
Hi,

I'm currently trying to call variants on a set of candidate genes (specified via `variant_regions`) for 63 WGS samples, and the 'callable regions' step is taking far too long.

Looking at the times in bcbio-nextgen-commands.log (attached), the main culprit seems to be picard CollectSequencingArtifactMetrics. The command doesn't use the `--INTERVALS` option, so presumably it's running for the

[2022-02-21 19:11] Priyankanator commented on #3615
Hi Sergey,
I ran the command and get the same results-
(base) [prawat@consign rdrapkinlab]$ /project/rdrapkinlab/WGS_bcbio/anaconda/bin/vcfanno \

=============================================
vcfanno version 0.3.3 [built with go1.16.5]

see: https://github.com/brentp/vcfanno
=============================================
vcfanno.go:116: found 69 sources from 7 files
vcfanno.go:157: falling back to

[2022-02-22 05:34] naumenko-sa commented on #3616
Hi @HudoGriz !

Thanks for reporting and sorry about the issue!

It finished ok for me with gvcf on and peddy with bcbio 1.2.9, peddy 0.4.8.

Could you please make sure that you are running the 1.2.9 bcbio? Because in the trace there is python3.6. bcbio1.2.9 has python3.7...

Sergey

[2022-02-22 19:37] naumenko-sa commented on #3618
Hi @golubnikova !

Please use this script: https://github.com/bcbio/bcbio_validations/blob/master/huref_sv/crg.sv.validate_bed.py
Make sure that the call and the truth bed files have same chromosome set (chr, /nochr) and comment the bed header if there is one.

I would also suggest to use much more updated validation from svbench:
https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkac03

[2022-02-23 00:24] #3606 closed

[2022-02-23 01:39] naumenko-sa commented on #3615
Hi @Priyankanator !

My run finishes ok with a similar config and hg19 reference.
Not sure, why do you have gemini annotations is in your vcfanno? gemini is not specified in the yaml.
Are you providing the complete yaml?

If you want to use gemini annotations, you need to install gemini files:
 `bcbio_nextgen.py upgrade -u skip --genomes hg19 --datatarget gemini`
By default gemini annotations are

[2022-02-24 01:18] DrMcStrange opened #3621 "Errors in joint squaring off/backfilling step when joint calling with GATK"
Hi,

I've been hitting errors when running some tests of germline small variant joint calling with GATK (trying to optimise some parameters for running on our cluster).

First there were I/O errors that looked like this:

[code]

I deleted the contents of `/scratch/bennetm/bcb-test/cataract/bcb-test-gatk-gvcf-28core/work/joint/gatk-haplotype-joint/cataract/` and restarted the run in place, and it

[2022-02-24 18:17] Priyankanator commented on #3615
Hi Sergey,
I have provided complete yaml file. I was also not sure that why I have gemini annotations. I did also tried with tools on option and installed gemini files but still it is giving me the same error.
Do you think it is vcfanno specific error as described in this page-
https://github.com/brentp/vcfanno/issues/64

Thanks
Priyanka

[2022-03-03 20:07] prasundutta87 opened #3623 "query about starting the structural variation pipeline"
Hi,

I am planning to use the germline structural variation pipeline from bcbio-nextgen for calling germline SVs. I was unable to follow the what was mentioned here and was unable to get a starting point -https://bcbio-nextgen.readthedocs.io/en/latest/contents/structural_variants.html

I have already aligned CRAM files and was wondering if I can be directed towards how can I start using the pipeli

[2022-03-06 03:56] tpham2654 opened #3624 "Cannot install version 1.2.9 (fails at installing deepvariant trying to link non-existent google cloud account)"
I cannot install the latest version of BCBio at all.  I have attempted to install this "from scratch" as suggested by deleting the entire old BCBio installation (version 1.2.8) first .  It consistently fails when trying to install deepvariant with a message that
[code]
The gcloud program was installed at one point on the system, but I removed it since it is no longer needed and I am still getting

[2022-03-06 04:25] naumenko-sa commented on #3623
Hi @prasundutta87 !

Could you please outline what have you tried and what did not work for you?

Did you install bcbio first of all?
Did you run the structural variant calling example?

bcbio supports cram as input as well, even though there are some limitations:
https://github.com/bcbio/bcbio-nextgen/issues/3011

Sergey

[2022-03-06 04:31] naumenko-sa commented on #3624
Hi @tpham2654 !

There was a similar issue a while ago - could you please first try suggestions outlined there?
https://github.com/bcbio/bcbio-nextgen/issues/2927

Sergey

[2022-03-06 04:49] naumenko-sa commented on #3619
HI @DrMcStrange !

Yes, this is too slow.

Could you please use

[code]
in the yaml?
SN

[2022-03-06 04:52] tpham2654 commented on #3624
I am still getting the same error.  In fact, there is no "gcloud" executable or file in the ./bcbio/anaconda/envs/dv/bin folder either.

[2022-03-06 05:06] naumenko-sa commented on #3621
Hi @DrMcStrange !

Are you sure you need joint genotyping for 3 samples?
I thought it was a use case  for population calling with  >50 samples,
with 3 samples you could just use batch calling.

Sergey

[2022-03-06 05:08] naumenko-sa commented on #3624
Have you updated your PATH after installing bcbio?
https://bcbio-nextgen.readthedocs.io/en/latest/contents/intro.html#run-the-analysis-distributed-on-8-local-cores-with

You should be able to use `mamba install -c bioconda google-cloud-sdk -n dv`

[2022-03-06 05:11] naumenko-sa commented on #3615
No, I think it is not related. Could you please try to install gemini as outlined above?

[2022-03-06 05:12] tpham2654 commented on #3624
As far as I can tell it did not successfully install.  However, the path already contains the BCBio directory which was set from a previous version.  I deleted the contents of that folder before trying to reinstall.

[2022-03-06 14:30] gabeng opened #3625 "Symlinks for samtools are not created for a fresh installation"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9 (development)
- OS name and version (`lsb_release -ds`): Ubuntu 18.04.6 LTS

**To Reproduce**
Exact bcbio command you have used:
[code]
`packages-conda.yaml` is the current file from `Cloudbiolinux`.

Installation completes without error. However, there are no symlinks in `/usr/local/bin` for tools included in `samtools` like `

[2022-03-07 00:47] DrMcStrange commented on #3621
Hi @naumenko-sa

This was just a test run! I would normally use batch calling, but I wanted to compare calls between joint and batch calling.

In the meantime a colleague has hit the same `IllegalStateException` error on a run with ~60 samples. (The second of the two errors my run hit.) She was only calling a few small regions, so we got it to complete by switching to batch calling, but it would s

[2022-03-07 00:49] DrMcStrange commented on #3619
Thanks @naumenko-sa !

The run finally completed, but I'll try that just to confirm.

[2022-03-07 00:55] DrMcStrange commented on #3520
Cancel that last comment - turns out I was looking at batch calling results, not joint calling. My joint calling tests are currently crashing, so the issue may still exist.

[2022-03-07 03:38] naumenko-sa commented on #3624
That means that dv environment has not been created.

Could you please
1) provide the full installation log
and the output of the commands
2) `echo $PATH`
3) `echo $PYTHONPATH`
4) `which python`
5) `which -a conda`
6) `conda info -e` - list of environments
7) `which -a gsutil`
8) `ls ~/.gsutil`

Thanks!

[2022-03-07 22:51] tpham2654 commented on #3624
Here are the outputs of the commands:
[code]
Can you please tell me where the installation log is located?

[2022-03-09 17:18] prasundutta87 commented on #3623
Hi Sergey,

Thanks for your reply. I had actually installed bcbio in 2020, but I have recently started using it now starting with SV specific pipeline. I have tried working on the example dataset, however, it gets stuck in the CollectSequencingArtifactMetrics stage in which I get an error named "ERROR: Invalid argument '-REFERENCE_SEQUENCE'". How do I resolve this issue? This is the exact command

[2022-03-10 00:14] tpham2654 commented on #3624
I managed to resolve the problem.  Basically, someone had added their google account to gcloud auth sometime in the past and it persisted even after gcloud in the base environment was removed, and was even visible to the gcloud dependency BCBio attempted to install into the dv environment.  What I did was:

1. Activate the dv environment: ```conda activate ~/programs/bcbio/anaconda/envs/dv```
2. I

[2022-03-10 12:00] HudoGriz commented on #3616
Hi @naumenko-sa !
The fix works fine.

Much obliged,

Blaž

[2022-03-11 18:02] keenhl opened #3626 "RNA-Seq salmon error"
I am running the RNA-Seq pipeline on bcbio 1.2.4.  The following is a snippet of my config file.

[code]

I get the following error.  I should also mention, that I know this pipeline works as I successfully ran a batch of human samples through the pipeline just last week.  Not sure the difference, except in this batch the files are very large.

salmon was only able to assign 0 fragments to transcr

[2022-03-14 12:11] prasundutta87 opened #3627 "IndexError: list index out of range while updating bcbio"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`): Scientific Linux release 7.5 (Nitrogen)

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

[pdutta@node2f2

[2022-03-14 12:21] prasundutta87 opened #3628 "smoove issue while running structural variation pipeline"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`): Scientific Linux release 7.5 (Nitrogen)

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.
[bcbio-nextgen-c

[2022-03-14 12:27] prasundutta87 commented on #3623
Just to add, I found out that CollectSequencingArtifactMetrics can be disabled in the yaml file, which I did, so I am no longer getting that error.

[2022-03-15 11:49] prasundutta87 commented on #3628
Closing this issue as I am performing a fresh install of the latest bcbio version (v1.2.9)

[2022-03-15 11:49] #3628 closed

[2022-03-15 11:49] prasundutta87 commented on #3627
Closing this issue as I am performing a fresh install of the latest bcbio version (v1.2.9)

[2022-03-15 11:54] prasundutta87 opened #3629 "Issue while installing the latest version of bcbio"
Command used:

`python3 bcbio_nextgen_install.py /mnt/e1000/home/u027/u027/pdutta/bcbio-nextgen/bcbio_data --upgrade=stable --cores 8 --tooldir=/mnt/e1000/home/u027/u027/pdutta/bcbio-nextgen/bcbio_tools --isolate --genomes hg38 --aligners bwa --datatarget variation --datatarget vep`

I have attached the output and error logs for your reference. I am trying to install it in my home directory of the

[2022-03-15 21:20] fardellas opened #3630 "STAR index error upon installation"
I installed recently bcbio and successfully run RNAseq experiments with hisat2 as aligner. I tried to install STAR index using hg38 but I am getting the error below, yet I do not get the same message when I try to install STAR using hg19.

Any ideas?

--------------------------------
bcbio_nextgen.py upgrade -u skip --genomes hg38 --aligners star --cores 10

Upgrading bcbio
Upgrading bcbio-nextgen

[2022-03-16 09:36] gis-nlsim opened #3631 "GATK AnnotatedInervalCodec Exception (GATK4)"
Greetings,
I am running bcbio v1.2.9a, and I'm encountering this issue for all my samples.
Seek your help in resolving this please. Thank you.

My yaml file is as attached.

[2022-03-16T08:24Z] org.broadinstitute.hellbender.exceptions.GATKException: Unable to automatically instantiate codec org.broadinstitute.hellbender.utils.codecs.AnnotatedIntervalCodec
[2022-03-16T08:24Z]     at org.broadinstit

[2022-03-19 19:42] prasundutta87 commented on #3629
Hi,

I have finally managed to install ncnio-nextgen that seemed to have issues when system wide conda is installed. I followed a workaround that I found here after a lot of digging: https://github.com/bcbio/bcbio-nextgen/issues/2969

However, everytime I need to upgrade something or a yaml file requests tools to get installed when running a pipeline for the first time, every system based conda in

[2022-03-20 02:00] #3616 closed

[2022-03-20 02:02] #3623 closed

[2022-03-20 02:03] naumenko-sa commented on #3624
thanks for the update!

[2022-03-20 02:03] #3624 closed

[2022-03-20 02:09] naumenko-sa commented on #3625
Hi @gabeng !

Thanks for reporting!

I suspect you might have another samtools in the system. What is your:

[code]

Also, why do you install it in two steps instead of
[code]

Sergey

[2022-03-20 02:15] naumenko-sa commented on #3629
Hi Prasun!

Great work on figuring out conda issues!

You may try to use bcbio PATH as prefix in you PATH when working with bcbio (and deactivate your system conda):

[code]

[2022-03-20 02:23] naumenko-sa commented on #3626
Hi @keenhl !

1) Please note your bcbio is 1.2.4 while the current version is 1.2.9. Many bugs were fixed since 1.2.4. I would suggest you to upgrade.
2) Probably this sample needs more QC - what is % aligned, maybe kraken contaminations, fastqc report?
3) Unfortunately, turning salmon is not possible, getting salmon counts is one of the main goals of bcbio RNA-seq pipeline.
4) Yes, sort bam is co

[2022-03-20 02:42] naumenko-sa commented on #3630
Hi @fardellas !

I've installed hg38 STAR index recently. Could you please try more RAM or less cores, or both?

Sergey

[2022-03-20 02:46] naumenko-sa commented on #3631
Hi @gis-nlsim !

"Disk quota exceeded" - is it possible that the run is out of disk space?

SN

[2022-03-20 02:47] #3603 closed

[2022-03-20 02:48] #3554 closed

[2022-03-20 08:51] prasundutta87 commented on #3629
Hi @naumenko-sa ,

Thanks for your reply. The thing is that I have a conda initialisation script that automatically loads itself form my .bashrc of my HPC. I am still trying to figure out how to keep bcbio and my system conda together in my system. Probably a docker should help here. This is because, I am only using bcbio for the structural variation pipeline, but a lot of my own custom pipeline d

[2022-03-20 08:56] prasundutta87 opened #3632 "bcftools symbol lookup error (after bcbio v1.2.9 installation)"
Hi,

I successfully installed bcbio-nextgen v1.2.9 yesterday. On checking samtools version, I got this error:

`samtools: error while loading shared libraries: libcrypto.so.1.0.0: cannot open shared object file: No such file or directory`

I updated samtools using ` mamba update samtools` and the error was gone and the software ran.

However, after the update, bcftools started getting this error:

[2022-03-20 10:08] prasundutta87 opened #3633 "Smoove Lumpy error in structural variation pipeline (error related to samtools)"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): v1.2.9
- OS name and version (`lsb_release -ds`): Red Hat Enterprise Linux release 8.5 (Ootpa)

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.
[bcbio-nex

[2022-03-20 10:39] prasundutta87 commented on #3633
I just did a little digging in my system to find how many samtools executables are there in the bcbio directory using this command: `find . -type f -name "samtools"` and this was the output I got:

`./bcbio_data/anaconda/bin/samtools
./bcbio_data/anaconda/envs/python2/share/strelka-2.9.10-1/libexec/samtools
./bcbio_data/anaconda/envs/python2/share/manta-1.6.0-1/libexec/samtools
./bcbio_data/anacon

[2022-03-20 16:50] prasundutta87 commented on #3633
So, the last command which ran was

`export TMPDIR=/mnt/e1000/home/u027/u027/pdutta/bcbio-nextgen/NA12878-sv-eval/work/bcbiotx/tmpp35dspoe && export PATH=/mnt/e1000/home/u027/u027/pdutta/bcbio-nextgen/bcbio_data/anaconda/envs/python2/bin:$PATH && /mnt/e1000/home/u027/u027/pdutta/bcbio-nextgen/bcbio_data/anaconda/envs/python2/bin/smoove call --processes 16 --genotype --removepr --fasta /mnt/e1000/h

[2022-03-21 05:54] panic0918 opened #3634 "What is the option command of bowtie2 in the ATAC seq alignment?"
It's been a while since I posted a question.
Thank you for your kind response to my previous question.
Thanks to you, I was doing my research well.

I'm currently doing an atac seq analysis.
I did a great job with bcbio, but I had to align myself for detailed analysis

I created file **_DAY0_RX2KO_rep1_2000X_sorted.bam_** with the following code.
`bowtie2 -p 25 -t -x ./mm10
-1 ../../atac-bcbio/fas

[2022-03-21 06:22] gis-nlsim commented on #3631
Hi Dr Naumenko,

Thanks for pointing that out, but I cleared up the disk space and reran with only a few samples; I’m still getting the same error, even without the disk quota issue, so I think this is a separate problem? Attached is the error log file. Thank you.

Sim Ngak Leng

From: Sergey Naumenko ***@***.***>
Sent: Sunday, 20 March 2022 10:47 AM
To: bcbio/bcbio-nextgen ***@***.***>
Cc: SIM Ng

[2022-03-21 15:07] #3626 closed

[2022-03-21 20:05] amizeranschi commented on #3557
Hi @naumenko-sa

Strangely enough, I still seem to be getting this issue. Once again, on a completely fresh bcbio install, from scratch. Upgrading bcbio and tools to development didn't help.

This time, the culprit samtools executable is in bcbio_dir/anaconda/bin:

[code]

[code]

Any help here would be much appreciated.

[2022-03-22 10:55] prasundutta87 commented on #3633
After some re-installations/updates, I was able to make both samtools/bcftools run in both default conda and python2 environment. I followed this solution and updated samtools to v1.9: https://github.com/merenlab/anvio/issues/1479

I updated bcftools too and tested to check if both tools ran succesfully in both environments or not.

[2022-03-22 10:57] prasundutta87 commented on #3632
Updating bcftools in specific environments solved this error. Manual updating/re-installation is required. Not sure, if this should be tested in the bcbio-nextgen installation itself somehow.

[2022-03-22 10:57] #3632 closed

[2022-03-22 17:25] prasundutta87 opened #3635 "/usr/bin/env: 'python2' error for Manta"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`): Red Hat Enterprise Linux release 8.5 (Ootpa)

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.
[bcbio-next

[2022-03-22 19:20] amizeranschi commented on #3632
For the record, I opened a very similar issue here: https://github.com/bcbio/bcbio-nextgen/issues/3557 some time ago, and ran into the same problem again just recently.

Manually updating Samtools fixed things for me as well, but it would be nice to have a recent version of Samtools / Bcftools pinned by default in Conda, as part of the bcbio install.

[2022-03-22 20:28] mjsteinbaugh commented on #3318
I see to be hitting a similar issue with 1.2.9 clean installed on a new EC2 instance running Ubuntu 20:

[code]

[2022-03-22 20:32] mjsteinbaugh commented on #3318
Looks like there's a problem with `samtools` dependency on `libcrypto`:

[code]

[2022-03-22 20:33] mjsteinbaugh commented on #3318
Here's the current list of environments:

[code]

# conda environments:
#
base                  *  /opt/koopa/app/bcbio-nextgen/1.2.9/install/anaconda
bwakit                   /opt/koopa/app/bcbio-nextgen/1.2.9/install/anaconda/envs/bwakit
dv                       /opt/koopa/app/bcbio-nextgen/1.2.9/install/anaconda/envs/dv
htslib1.10               /opt/koopa/app/bcbio-nextgen/1.2.9/install/anacond

[2022-03-22 21:27] amizeranschi commented on #3318
@mjsteinbaugh

Which samtools version did you end up having in your main bcbio env? I've been seeing this problem recently as well: https://github.com/bcbio/bcbio-nextgen/issues/3557

[2022-03-22 21:30] mjsteinbaugh commented on #3318
@amizeranschi I'm working on debugging this! Will let you know

[2022-03-22 21:31] mjsteinbaugh commented on #3557
I'm seeing this as well with the current stable release. Working on debugging.

[2022-03-22 21:39] mjsteinbaugh commented on #3557
Yeah it's installing samtools 1.7 on my machine as well. Seeing if pinning to 1.13 works, as you mentioned.

[2022-03-22 21:40] mjsteinbaugh commented on #3557
As mentioned in https://github.com/bcbio/bcbio-nextgen/issues/3632, we likely need to double check the pinning of bcftools as well.

[2022-03-22 21:40] mjsteinbaugh commented on #3632
Hi @prasundutta87 , thanks for posting regarding this issue. I can reproduce it on my machine, and am looking into a fix.

[2022-03-22 22:04] mjsteinbaugh commented on #3557
This hotfix seems to be working for me so far:

[code]

[code]

Trying to pin bamtools to 2.5.2 fails due to `case` dependency on 2.5.1

[2022-03-22 22:12] mjsteinbaugh commented on #3557
Still not working, now seeing this error on an RNA-seq run: `samtools sort: failed to read header`.
Trying to pin against 1.13 instead to see if that works.

[2022-03-22 22:14] mjsteinbaugh commented on #3557
Yeah still hitting this error: `samtools sort: failed to read header from "/dev/stdin"`

[2022-03-23 06:43] amizeranschi commented on #3634
Hi!

You can see a list of all the commands that bcbio ran in the log file `bcbio-nextgen-commands.log`. You can find this in the main directory with results, usually called something like `.../final/2022-MM-DD_your_analysis`.

[2022-03-23 09:25] amizeranschi commented on #3557
@mjsteinbaugh

FYI, I couldn't reproduce the `samtools sort` error you mentioned above. I'm testing using the RNA-seq scenario described in my older issue report, here: https://github.com/bcbio/bcbio-nextgen/issues/3565#issuecomment-997212051

However, my Samtools version is 1.15. What I did is, right after a fresh bcbio install, I upgraded bcbio and tools to development and then installed `samtoo

[2022-03-23 12:28] amizeranschi commented on #3557
Alright, thanks for the update, I've tracked those pull requests.

If you do try to run the code I've linked, you will first need sacCer3 genome data available in bcbio. This is pretty small and you can get it via:

[code]

You'd also want to comment out lines 217-220, which enable `bcbiornaseq`.

[2022-03-24 20:14] keenhl opened #3636 "Error in bcbio installation"
I'm trying to do a new install of bcbio.  I am using the directions as on the following web page.

https://bcbio-nextgen.readthedocs.io/en/latest/contents/installation.html#install-bcbio-package-and-tools
python3 bcbio_nextgen_install.py /home/user/bcbio --tooldir=/home/user/bcbio/tools --nodata

I get the following error.  I guess this is a python related issue, but I really don't know where to s

[2022-03-25 05:35] gis-nlsim opened #3637 "Install Genomes Error"
I have successfully installed bcbio, and I am trying to install the genomes using the following command:

bcbio_nextgen.py upgrade -u skip --genomes GRCh37 --genomes hg38 --aligners bwa --aligners star

But I'm encountering this error
subprocess.CalledProcessError: Command '['bash', '/scratch/users/astar/gis/simngl/apps/bcbio/genomes/Hsapiens/GRCh37/txtmp/ggd-run.sh']' returned non-zero exit statu

[2022-03-26 11:25] gis-nlsim opened #3638 "404 Error during bcbio installation of human genome."
I'm attempting to install the Human Genomes GRCh37 and hg38. There appears to be a few issues causing it the break; the latest one I received is a 404 not found reply when bcbio installer attempted to download  snpEff_v5_0_GRCh37.75.zip.

subprocess.CalledProcessError: Command '['wget', '--no-check-certificate', '-c', '-O', 'snpEff_v5_0_GRCh37.75.zip', 'http://downloads.sourceforge.net/project/snp

[2022-03-26 22:33] panic0918 commented on #3634
thank you!!!!!! :)

[2022-03-26 22:33] #3634 closed

[2022-03-28 08:02] gis-nlsim opened #3639 "bgzip error"
I am running mutation calling and HLA with optitype (separatily), and I'm encountering the same error involving bgzf

Error: unhandled exception: invalid bgzf file [ValueError]
[hla.config.yaml.txt](https://github.com/bcbio/bcbio-nextgen/files/8360792/hla.config.yaml.txt)

[code]

Seek your assistance in resolving this issue; I am attaching my yaml files, as well as the last 200 lines of the log f

[2022-03-28 18:18] keenhl commented on #2969
Karl,

Successfully finding a workaround is solving the immediate problem.  Sometimes that's the best that can be done.   Just be glad that your installation is working.

[2022-03-28 18:40] keenhl commented on #3636
I have a couple of updates.

I thought the conda python might be a problem, so I deactivated Conda, and edited PATH to remove reference to Conda.  However, I still get the same error referencing miniconda.

miniconda3/lib/python3.8/subprocess.py

FileNotFoundError: [Errno 2] No such file or directory: '/Shared/Bioinformatics/data/keenhl/bcbio_1.2.9/anaconda/bin/bcbio_nextgen.py'

This error is cor

[2022-03-28 20:22] keenhl commented on #3636
Here's some more information that might be helpful in debugging.  Thanks.

Installation

python3 bcbio_nextgen_install.py \
/Shared/Bioinformatics/data/keenhl/bcbio_1.2.9 \
--core 8 \
--isolate \
--tooldir=/Shared/Bioinformatics/data/keenhl/bcbio_1.2.9/tools \
--nodata

Some information about Python and conda

echo $PATH

/opt/sge/bin:/opt/sge/bin/lx-amd64:/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr

[2022-03-29 16:10] keenhl commented on #3629
I would just comment that I am in a similar situation.  I want to run bcbio for the srna pipeline, but I have many other pipelines that just use my own system conda.  At present, I am not able to either create a custom genome or to do a clean installation of bcbio, because of, I think, a condo-related issue, and deactivating system conda and edit PATH does not fix the problem.

[2022-03-31 14:23] amizeranschi commented on #3612
Hello, is there any progress into adding CHM13 as a default bcbio genome?

[2022-03-31 14:37] mjsteinbaugh commented on #3612
I'll look into building indices of this genome against salmon, kallisto, HISAT2, STAR, and RSEM.

[2022-03-31 19:09] mjsteinbaugh commented on #3612
Special issue on T2T is out today in Science: https://www.science.org/toc/science/376/6588

[2022-04-04 09:12] WimSpee commented on #3636
I have the same error for a fresh bcbio installation.
[code]

Were you able to get the installation to work?

[2022-04-04 09:21] WimSpee opened #3642 "Is StringTie v2.2.0 with CRAM support in the latest bcbio release of dev version"
Dear bcbio developers,

I am wondering if StringTie v2.2.0 with CRAM support is in the latest bcbio release of dev version?

CRAM support was only recently added to StringTie.
https://ccb.jhu.edu/software/stringtie/

Our currently installed version of bcbio has an too old version of StringTie to run (joint) RNAseq analysis in bcbio from CRAM files.

I am unable to check myself which StringTie vers

[2022-04-04 16:32] keenhl commented on #3636
Thanks. No, I still haven't gotten it to work.

[2022-04-04 18:11] WimSpee commented on #3636
ping @naumenko-sa  Could you please help?

[2022-04-10 02:47] naumenko-sa commented on #3629
@prasundutta87, @keenhl

You may try https://modules.readthedocs.io/en/latest/module.html

It might need cooperation with your admins (add module system wide, or user module).

[2022-04-10 02:49] naumenko-sa commented on #3631
@gis-nlsim I don't see the attachment - is it missing?

[2022-04-11 03:10] naumenko-sa commented on #3636
Hi @keenhl  and @WimSpee !

Sorry for the delay.

I've just started the installation successfully.

I think the issue is in multiple pythons/condas.

when you are looking for python, look for python3: `which python3`

I also have multiple bcbios/conda env.

For the new installation I create `.bcbio_devel_profile`:

[code]
Inject the env: `. .bcbio_devel_profile`
Load python:
[code]

Install bcbio:

[2022-04-11 03:44] naumenko-sa commented on #3642
Hi @WimSpee !

we don't pin StringTie:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L132

In my latest installation of 1.2.9: ~January 2022 I received stringtie 2.1.4

I tried updating it to 2.2.0, 2.2.1
[code]
it requires htslib=1.14 (base env is on htslib1.13), so we can't install it in the base - shifting htslib is a big change.

[2022-04-11 04:04] naumenko-sa commented on #3639
Hi @gis-nlsim !

What is your bcbio version?

I think this bug has been fixed in 1.2.9:
https://github.com/bcbio/bcbio-nextgen/blob/1d065fe60272b87a687d14eb45aeaf88614b059f/bcbio/qc/viral.py#L46

Sergey

[2022-04-11 04:06] naumenko-sa commented on #3638
HI @gis-nlsim !

Snpeff moved from sourceforge to Microsoft Azure.

You need to switch to bcbio1.2.9/snpeff5.0.

Sergey

[2022-04-11 04:13] gis-nlsim commented on #3638
Hi,

This is actually part of the bcbio installation process, the SNPEff download path appears to be hard-coded into some shell script that was downloaded during the installation? I’m not sure it can be fixed from my end.

Also, I was using the latest bcbio_nextgen_install.py downloaded just before running the installation, so it is the v1.2.9 version.

Sim Ngak Leng
From: Sergey Naumenko ***@***.

[2022-04-11 04:18] naumenko-sa commented on #3635
Hi @prasundutta87 !

Thanks for reporting!

I've just ran SV analysis in 1.2.9 including manta - it worked.

Let us see.

Your command from commands.log

[code]
looks correct.

debug.log has:
[code]

Manta is a great tool, but still written some time ago and not supported since that. Manta does not work for some samples - they just fail.

What data are you using as input? is it NA12878 WES or WGS?

[2022-04-11 04:22] gis-nlsim commented on #3639
bash-4.4$ cd /scratch/users/astar/gis/simngl/bcbioruns
bash-4.4$ bcbio_nextgen.py --version
1.2.9a

[2022-04-11 04:24] naumenko-sa commented on #3638
Yes, it is in bcbio (note windows.net rather than sourceforge):
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/install.py#L38

Have you installed with `--nodata` first?

What is your `bcbio_nextgen.py --version`

[2022-04-11 04:26] gis-nlsim commented on #3638
I have installed with –nodata first, then I tried to install genomes and got this error.

The bcbio_nextgen.py is v1.2.9

Sim Ngak Leng
Senior Bioinformatics Specialist
Computational & Systems Biology 3

Genome Institute of Singapore
Agency for Science, Technology and Research
60 Biopolis Street, Genome, #03-01, Singapore 138672
D +65 6808 8013  T +65 6808 8000  E ***@***.******@***.***>  W www.a-

[2022-04-11 04:26] naumenko-sa commented on #3639
right, 1.2.9a < 1.2.9.

Could you please upgrade to 1.2.9+ ?

`bcbio_nextgen.py upgrade -u development`

[2022-04-11 04:28] naumenko-sa commented on #3638
#3639

[2022-04-11 04:28] gis-nlsim commented on #3639
Sorry, I meant v1.2.9a

bash-4.4$ bcbio_nextgen.py --version
1.2.9a
bash-4.4$

Sim Ngak Leng
Senior Bioinformatics Specialist
Computational & Systems Biology 3

Genome Institute of Singapore
Agency for Science, Technology and Research
60 Biopolis Street, Genome, #03-01, Singapore 138672
D +65 6808 8013  T +65 6808 8000  E ***@***.******@***.***>  W www.a-star.edu.sg/gis<http://www.a-star.edu.sg/gi

[2022-04-11 04:32] naumenko-sa commented on #3639
Right, your version 1.2.9a is lesser than v1.2.9, you need to update, versions go

1.2.8, 1.2.9a, 1.2.9
https://github.com/bcbio/bcbio-nextgen/commit/a2cbdd17a2246429976ae0f0b04b84c8b0252049

[2022-04-11 04:48] gis-nlsim commented on #3639
Thanks, I’ll try the upgrade.

Sim Ngak Leng
Senior Bioinformatics Specialist
Computational & Systems Biology 3

Genome Institute of Singapore
Agency for Science, Technology and Research
60 Biopolis Street, Genome, #03-01, Singapore 138672
D +65 6808 8013  T +65 6808 8000  E ***@***.******@***.***>  W www.a-star.edu.sg/gis<http://www.a-star.edu.sg/gis>
[a-star-logo]

From: Sergey Naumenko ***@***.

[2022-04-11 05:00] naumenko-sa commented on #3545
HI @DiyaVaka !

I think I've seen that bug. What is your MT genome in galGal4?

https://github.com/bcbio/bcbio-nextgen/blob/cd1720c0e150f436b7e8fb136ca3001c21a110fb/bcbio/heterogeneity/chromhacks.py#L29

Sergey

[2022-04-11 05:49] naumenko-sa commented on #3557
Hi @mjsteinbaugh and @amizeranschi !

Sorry, I dropped the ball, you've heard - the world changed a bit.

Interestingly, my ~january 1.2.9 installation received samtools 1.13 in the base env, as needed.

But the fresh one indeed received samtools1.7 in the base.

It has to be 1.13, not 1.15, I fixed it with
`mamba install samtools=1.13`

it is weird why conda solved it like that, bcftools was pinn

[2022-04-11 05:53] naumenko-sa commented on #3318
#3557

[2022-04-11 09:13] hanaecarrie opened #3643 "Does bcbio allow min_allele_frequency < 1 ?"
Dear authors,

Does bcbio allow somatic variant calling with min_allele_frequency below 1 (that is to say VAF threshold is set to 1% or 0.01)?
I tried with I tried 0.00000001 as I am interested in ultra low allele frequencies but it broke due to this parameter.
What is the range of acceptable min_allele_frequency values?

OS version: CentOS 6.5
bcbio version: 1.0.9a0
somatic callers used: ['freeba

[2022-04-11 09:16] prasundutta87 commented on #3635
Hi @naumenko-sa,
I tried running the example data present in https://bcbio-nextgen.readthedocs.io/en/latest/contents/structural_variants.html. It is WGS.

-Prasun

[2022-04-11 22:15] naumenko-sa commented on #3635
Thanks for reporting. As far as I recall, it worked in GRCh37 SV validation.
Too bad that manta is not working for hg38 + NA12878. however, we don't have much chance to fix it:
https://github.com/Illumina/manta/issues

Yes, please ask. I will try to answer or maybe anybody else from the community will chime in.

Sergey

[2022-04-12 11:41] amizeranschi commented on #3557
I've tried another fresh install and now it ends up with bcbio-nextgen 1.2.8 at the end. Here's what I tried:

[code]

This reports `1.2.8`. Having a look at the output, I see the following:

[code]

A collaborator, @marianastase0912, had a similar thing happen to her fresh bcbio install.

Upgrading to the latest development version doesn't fix this, either, as the same downgrade happens at some p

[2022-04-13 03:05] naumenko-sa commented on #3557
Thanks for testing @amizeranschi

Yes, it replicates for me as well in the fresh installation.

The workaround for now:
`mamba install openssl=1.1.1l bcbio-nextgen=1.2.9`

I am fixing bcbio recipe to solve this issue
https://github.com/bioconda/bioconda-recipes/blob/master/recipes/bcbio-nextgen/meta.yaml#L43

I pinned openssl, because new openssl3.0 shifts a lot of packages
openssl1.1.1n is releas

[2022-04-13 16:44] naumenko-sa commented on #3643
Hi @hanaecarrie

1) I'd suggest to to upgrade from 1.0.9a to 1.2.9
2) Detecting low VAF variants requires high coverage, for example we tried duplex UMI:
https://github.com/bcbio/bcbio-nextgen/blob/master/config/templates/somatic-duplex-umi.yaml

to go beyond 1%, also specify `use_lowfreq_filter: false`

Also, I am not sure what happens with freebayes etc, we tried with mutect2 and vardict.

Serge

[2022-04-14 09:09] amizeranschi opened #3644 "Feature request: pinned dependency versions for a specific bcbio release, to avoid future problems with faulty conda environment solving"
Hello,

Given the numerous installation problems that conda has been causing, it might be a good idea to restrict the dependency versions a bit more via pinning certain versions for specific bcbio releases. Having a newly released openssl version break bcbio because conda decides to downgrade bcftools and even the bcbio-nextgen package itself (as seen in https://github.com/bcbio/bcbio-nextgen/issu

[2022-04-14 14:05] WimSpee commented on #3642
@naumenko-sa  Thank you for the information. I am not sure how I can help by testing upgrading stringtie in the rbcbiornaseq  environment.

When and where is that environment used?  If that upgrade works, will the upgraded stringtie then be available in the main bcbio environment?

For now I can work around this issue by still using BAM for RNAseq. So there is no hurry here.

But at some future po

[2022-04-14 14:07] WimSpee commented on #3636
Thank you for the information. Will try later or ask a colleague to install new bcbio with the above information.

[2022-04-22 22:08] gis-nlsim opened #3645 "bcbio installation remains at 1.2.8 after upgrade"
I installed bcbio on 22nd April 2022.
wget https://raw.githubusercontent.com/bcbio/bcbio-nextgen/master/scripts/bcbio_nextgen_install.py

python3 bcbio_nextgen_install.py /apps/bcbio/v129 --tooldir=/apps/bcbio/v129/tools --nodata

The version shown was v1.2.8

I tried running upgrade:
/apps/bcbio/v129/anaconda/bin/bcbio_nextgen.py upgrade -u development --tools

The version remained at v1.2.8

Att

[2022-04-26 08:58] amizeranschi commented on #3645
@gis-nlsim have a look here, in case it helps: https://github.com/bcbio/bcbio-nextgen/issues/3557#issuecomment-1097503518

[2022-04-29 14:31] gis-nlsim opened #3646 "Optitype Error: SolverFactory was unable to create the solve "cbc""
Hi,
I was trying to run HLA calling with OptiType on bcbio v1.2.9, but am encountering the error: The SolverFactory was unable to create the solver "cbc"
and returned an UnknownSolver object.  This error is raised at the point
where the UnknownSolver object was used as if it were valid (by calling
method "solve").

Log file attached. Seek your assistance in this please. Thank you.
[hla.error.txt](

[2022-04-30 04:04] #3639 closed

[2022-04-30 04:05] #3638 closed

[2022-05-02 05:51] amizeranschi opened #3647 "Samtools problem in python2 env"
Hi @naumenko-sa

The Samtools error `error while loading shared libraries: libcrypto.so.1.0.0` also happens in the `python2` env from bcbio. It came up when I tried running a variant calling job using `svcaller: lumpy`:

[code]

The reason I mentioned the `phyton2` env is because smoove seems to be installed there:

[code]

And, sure enough, the `samtools` vinary from that conda env is throwing th

[2022-05-02 22:39] naumenko-sa commented on #3642
rbcbiornaseq env is used to run r-bcbiornaseq package in bcbio rna-seq pipeline
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/rnaseq/bcbiornaseq.py

To substitute stringtie:
1) remove stringtie from the base env: `conda remove stringtie`
2) install to rbcbiornaseq
3) link `ln -s bcbo/anaconda/envs/rbcbiornaseq/bin/stringtie bcbio/tools/bin/stringtie`

Sergey

- - - - - - - - - - - - - -

[2022-05-03 12:57] YuriPPAN opened #3648 "Cellranger mkref"
**Version info**
- Cellranger version (`cellranger4.0.0 --version`):

**Question**
Hi,
I use cellranger mkref to build the customized mm10 genome reference. But it always showes error like this:
[code]

I tried to find the same question from other people, I found there is a same question: https://www.biostars.org/p/394710/. But I tried to use --memgb=64, it didn't work.
Can anybody tell me what is

[2022-05-04 13:45] mjsteinbaugh commented on #3565
@amizeranschi OK I think this should be fixed on bioconda.

[2022-05-05 17:08] naumenko-sa commented on #3557
Fixing it here:
https://github.com/bioconda/bioconda-recipes/pull/34746

[2022-05-05 17:12] naumenko-sa commented on #3644
HI @amizeranschi !

We had pinning of all packages in the early days of bcbio. It is not a good solution, unfortunately. The purpose of conda is to solve dependencies, and having a lot of pinnings makes the recipe unsolvable (the more pinnings, the harder to solve).

So far, we were able to resolve many installation issues with solve and minimum pinnings.

The latest re-factoring last Dec made it

[2022-05-05 17:16] naumenko-sa commented on #3648
Hi @YuriPPAN !
Maybe https://github.com/10XGenomics/cellranger/issues is a better address for this question?
Sergey

[2022-05-05 18:18] #3648 closed

[2022-05-05 18:18] #3643 closed

[2022-05-05 19:27] mjsteinbaugh commented on #3557
Awesome thanks @naumenko-sa , happy to help test this out on an AWS instance.

[2022-05-06 06:07] amizeranschi commented on #3647
Update: manually upgrading samtools and bcftools to v1.10 in that environment fixed Lumpy. Not sure if this will break any other functionalities, but I will mention here if it does.

[2022-05-06 07:04] hanaecarrie opened #3649 "Installation issue conda error"
Dear authors,
I am facing issue while attempting to install bcbio v129 on a HPC cluster with Linux RED HAT OS.
I have conda installed but I removed conda from my path to avoid conflict with bcbio installation.

How can I fix this issue?
Thank you in advance for your attention,
Kind regards,
Hanae

Here are the logs I get:

TypeError('not all arguments converted during string formatting')
TypeError

[2022-05-06 13:04] YuriPPAN commented on #3648
Hi @naumenko-sa , I am a novice in github, thank you for your suggestion！

[2022-05-12 08:35] amizeranschi opened #3650 "Error running bamsormadup (version 2.0.183): libmaus2.so.2: undefined symbol: _ZTIN6snappy4SinkE"
We're seeing the following error when running the `bamsormadup` command during atac-seq pipeline when mapping reads with BWA:

[code]

Some extra info:

[code]

[code]

The error also appears when manually running the `bamsormadup` command:

[code]

The full stack trace is below.

[code]

Any help with this would be much appreciated.

[2022-05-12 09:56] amizeranschi commented on #3650
Seems to be related (but not identical) to the issue reported here: https://github.com/bcbio/bcbio-nextgen/issues/3475

[2022-05-18 01:16] #3631 closed

[2022-05-18 01:17] #3599 closed

[2022-05-18 01:17] #3597 closed

[2022-05-18 01:18] #3637 closed

[2022-05-18 06:55] gis-nlsim opened #3651 "Unable to install bcbio (bcbio_nextgen.py not found)"
[install.error.txt](https://github.com/bcbio/bcbio-nextgen/files/8713780/install.error.txt)
We tried installing bcbio on 17th May 2022 (SGT), and encountered this issue:

FileNotFoundError: [Errno 2] No such file or directory: '/rfs-storageservice/GIS/Projects/LOCCG/apps/bcbio/v129/anaconda/bin/bcbio_nextgen.py': '/rfs-storageservice/GIS/Projects/LOCCG/apps/bcbio/v129/anaconda/bin/bcbio_nextgen.py

[2022-05-18 09:24] amizeranschi opened #3652 "ggd-run.sh error when installing sacCer3 genome data: "can't open file '/bin/python': [Errno 2] No such file or directory""
Hello,

I'm getting the error from the title, when installing the `sacCer3` genome data in a freshly created Bcbio install.

I'm guessing the sacCer3 ggd recipe needs fixing (https://github.com/chapmanb/cloudbiolinux/blob/master/ggd-recipes/sacCer3/seq.yaml). It was last modified in 2019, in order to fix a previous issue (https://github.com/bcbio/bcbio-nextgen/issues/2758).

Not sure why this erro

[2022-05-18 17:19] amizeranschi commented on #3650
Solved this for the time being by downgrading biobambam to v. 2.0.87, as seen here: https://github.com/bcbio/bcbio-nextgen/issues/3475

The issue persisted with v. 2.0.182, 2.0.177 etc.

[2022-05-24 06:07] lbeltrame opened #3653 "State of the project"
**DISCLAIMER**: This post is *not* meant to raise unduly criticism and / or fuel anxiety about the project. It is meant as a way to kickstart discussion for those who are interested in improving it.

It is evident to anyone following this project that its development (for many, and probably justified reasons) has *de facto* stalled (no new commits for a month and a half). Low activity is not per s

[2022-05-24 10:07] lmanchon opened #3654 "failed in downloading gnomad sites"
subprocess.CalledProcessError: Command '['/BCBIO/anaconda/bin/bcbio_nextgen.py', 'upgrade', '--tooldir=/media/data/SeaDB/BCBIO', '--genomes', 'hg38', '--aligners', 'bwa', '--datatarget', 'gemini', '--data']' returned non-zero exit status 1.

https://storage.googleapis.com/gnomad-public/release/2.1.1/liftover_grch38/vcf/exomes/gnomad.exomes.r2.1.1.sites.liftover_grch38.vcf.bgz

404 not found.

it s

[2022-05-24 14:06] sjhosui commented on #3653
@lbeltrame, thank you for your post and for being a long-term contributor/user of bcbio. We appreciate your concern and succinct summary of some of the challenges. Your questions are timely as we (the Harvard Chan Bioinformatics Core) are in the process of writing up a proposal for the CZI EOSS Cycle 5 awards and have been contemplating how best to continue to maintain and develop bcbio.

I agree

[2022-05-24 14:11] naumenko-sa commented on #3649
Hi @hanaecarrie !

It looks like your installation is not isolated - it uses system python (you can see /usr/lib64/python3.6) which should be something like /path/apps/bcbio/v129/anaconda/bin/python).

The solution might be to add /path-to-my-folder/apps/bcbio/v129/anaconda/bin/ to your PATH to have it before your system python.

S.

[2022-05-24 19:28] matthdsm commented on #3653
Hi,
First of all, I would also like to thank all contributors large and small. Bcbio has (and still is) given us many results over the years.

As for the comments:

I'm not aware of any issues. We recently updated VEP in our bcbio installation without a hitch. I'll look into pushing another update if I find the time.

The PR had been open for a while, but there seemed to be little interest to supp

[2022-05-25 01:38] chapmanb commented on #3653
Luca, Matthias, Sergey and Shannan;
i'm so appreciative of the work everyone does to support and extend bcbio, and thankful that it's helped so many groups do amazing science. As you've all mentioned, the landscape has changed a ton since bcbio was initially developed in terms of packaging, workflow systems, and the awesome open source bioinformatics community.
I totally trust the community, Serge

[2022-05-25 07:29] matthdsm commented on #3653
This ⏫ . I work at a hospital, and absolutely NO data can leave the premises without possible legal issues.

[2022-05-27 05:39] amizeranschi commented on #3653
Hi everyone, happy to see renewed interest in bcbio!

@naumenko-sa could I also ask for your help regarding a recent issue, where we're unable to install the sacCer3 genome data in a fresh install? https://github.com/bcbio/bcbio-nextgen/issues/3652

@marianastase0912 is building some wrappers for bcbio as part of her B.Sc. diploma project and we've been using sacCer3 data for building demos. We we

[2022-06-02 00:49] naumenko-sa commented on #3652
@amizeranschi  please try again - I've made a fix

[2022-06-02 00:51] naumenko-sa commented on #3653
@amizeranschi please try installing sacCer3 again.

[2022-06-03 02:30] naumenko-sa commented on #3652
what is your
[code]
python2 should be there if you have installed bcbio and added bcbio/anaconda/bin:bcbio/tools/bin to PATH

[2022-06-03 02:51] amizeranschi commented on #3652
@naumenko-sa  In that case, it looks like the problem is there is no `python2` in our $PATH, although we do have the 2 bcbio bin directories:

[code]

[code]

[code]

[2022-06-03 10:20] kokyriakidis opened #3655 "Somatic tumor only variant calling pipeline with UMIs step by step"
Hi!

In the "Somatic tumor only variant calling pipeline with UMIs step by step" found in this link (https://bcbio-nextgen.readthedocs.io/en/latest/contents/internals.html) the first command does some kind of trimming to reads.

[code]

Is this mandatory? Why do we have to trim 2bp from the reads? (I have already trimmed adapter sequences)

[2022-06-03 11:08] gabeng commented on #3655
This depends on the UMI design. Most manufacturers introduce a variable number of bases between UMI and insert or they have UMI of different length. To deal with that you extract a fixed number of bases for the UMI and trim the rest.

[2022-06-03 11:14] kokyriakidis commented on #3655
So, it is better to not do any adapter trimming, and then follow what bcbio does with 2p trimming?

[2022-06-03 11:21] gabeng commented on #3655
Without knowing your particular UMI setup, I would generally say that you should (in this order)
* De-multiplex and trim sequencing adapters from the end of reads,
* Extract UMIs,
* Trim remaining bases from the start of reads, if this is necessary.

If you are using off-the-shelf UMI, the manufacturer should provide suitable instructions (IDT, Agilent, Twist do).

[2022-06-03 12:14] gabeng commented on #3655
If you have the time, you could process one sample and perform alignment (no consensus or variant calling). Review the BAM file in IGV. If you see 2 soft-clipped bases at the start of many reads, you should trim them. Otherwise it is not necessary.

[2022-06-07 06:03] marianastase0912 commented on #3652
Hi! I was able to install the genome by creating a symlink like this:
```   ln -s /bcbio/install/path/anaconda/envs/python2/bin/python  /bcbio/install/path/tools/bin/python2 ```

[2022-06-07 10:55] #3655 closed

[2022-06-13 15:50] ameynert opened #3656 "Stripping underscores from otherwise numeric identifiers"
I've been trying to hunt down where this is happening in [the template](https://github.com/bcbio/bcbio-nextgen/blob/v1.2.8/bcbio/workflow/template.py) but not getting anywhere. Any suggestions? I'm happy to implement a fix if someone can point me to the bit of code that is causing this.

Essentially, some of the sample and family ids we work with are in the format [0-9]{5-6}_[0-9]{6}. The undersco

[2022-06-15 08:40] jcostea opened #3657 "Mapping efficiency very low (88 % of reads too short)"
Hi,
I am currently trying to run the Testdata. It's running all the way through  but still does not provide a final fusion candidate (Result.abridged.txt,  Result.full.txt are empty). When checking the STAR Mapping humanLog.final.out I realised that 88% of the reads are too short to be mapped (to the hg38 genome) and the average mapping is around 10 % (please see image below).

<img width="578" al

[2022-06-15 08:41] IBEXCluster opened #3658 "snpEff v4.3GRCh38.99.zip unavailable"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`):
[code]
- OS name and version (`lsb_release -ds`):
[code]

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.

**Error description:**
We are trying to update

[2022-06-15 11:25] mwhamgenomics commented on #3656
Could this be due to [PEP 515](https://peps.python.org/pep-0515)?

[code]

[2022-06-15 11:51] #3657 closed

[2022-06-15 14:09] ameynert commented on #3656
Unfortunately that's not an option for us - will figure out a workaround.

[2022-06-15 16:17] kokyriakidis commented on #3651
I am not able to install it with conda. Please try this:

[code]

[2022-06-21 13:45] fouriejoubert opened #3659 "PBSPro's qsub on our cluster needs #PBS -P project_id"
Hi Folks

Apologies if this has been discussed before.

Our national CHPC PBSPro cluster needs #PBS -P project_id for jobs to be submitted.

The -r passthrough for bcbio_nextgen.py does not work, as it generates the line #PBS -l -P project_id

Has anyone perhaps solved this before?

Best regards!

Fourie

[2022-06-24 09:11] LeiHaoa opened #3660 "How to get the runtime of each caller when I use multiple caller in yaml file?"
Hi,
Is there any way to get the runtime of each caller when I use multiple callers in the YAML file?
for example, I use the following caller `somatic: [strelka2, mutect2, vardict]` to call somatic variants, but I can not get the runtime of each caller through log files, is there any suggestions to get the runtime??

[2022-06-24 20:50] naumenko-sa commented on #3652
It is great that it has been solved, so we were able to install sacCer3 in the end?

cloudbiolinux when installing is making symlinks for envs into tools/bin:
`https://github.com/chapmanb/cloudbiolinux/blob/master/cloudbio/package/conda.py#L124`

If your installation did not finish successfully, other files could remain unlinked and some workflows may not be working.

[2022-06-24 20:56] naumenko-sa commented on #3660
Hi @LeiHaoa !

To benchmark, you may run one sample and parse the bcbio-nextgen-commands.log.
You will see when the particular tool starts, and when the next command starts. This way you may calculate the run time.

Sergey

[2022-06-24 21:00] naumenko-sa commented on #3659
Hi @fouriejoubert !
I am glad that you found this solution.
A good place to address this issue could be:
https://github.com/roryk/ipython-cluster-helper/blob/master/cluster_helper/cluster.py

If you could PR there, that would be fantastic.

SN

[2022-06-24 21:02] naumenko-sa commented on #3658
@IBEXCluster : it seems that you are running bcbio1.2.5 which on snpEff4.3

@pengxiao78 : for this upgrade you need a fresh install of bcbio1.2.9.

[2022-06-25 00:31] naumenko-sa commented on #3656
+1,
samples/batches should better start with a character.
Underscores are not an issue, we used family_sample identifiers in many project.

[2022-06-25 00:31] #3656 closed

[2022-06-25 03:40] naumenko-sa commented on #3654
Thanks for reporting!
I am switching to gsutil download and removing gnomad exome in hg38 in favour of genome
https://gnomad.broadinstitute.org/help/whats-the-difference-between-gnomad-v2-and-v3

[2022-06-25 05:35] LeiHaoa commented on #3660
Hi,
Got it! Thanks for your reply!

Liehaoa

[2022-06-25 05:35] #3660 closed

[2022-06-25 12:15] kokyriakidis commented on #3650
I get the same error while running the RNASeq pipeline

[2022-06-25 13:00] amizeranschi commented on #3652
@naumenko-sa

Thanks a lot for looking into this.

This is a very good point. What else should we be looking for in there? I can send you a list of the contents of our `bcbio/tools/bin`, in case this helps.

As far as we could see from the logs, the installation DID finish successfully, we didn't get any errors, but the `python2` binary just didn't get linked into `bcbio/bools/bin` automatically,

[2022-06-26 03:16] naumenko-sa commented on #3658
BTW, I have just installed a fresh bcbio1.2.9 - no issues

[2022-06-27 07:29] IBEXCluster commented on #3658
Dear @naumenko-sa Thanks for your advise. Looks, I'm able to do the fresh install of bcbio 1.2.9.
PS: The upgrade command from 1.2.5 to 1.2.9 gives us the issue.

[2022-06-28 22:56] naumenko-sa commented on #3652
@amizeranschi
You are right- python2 was not linked since it is not a package.
I added linking here - please give it a try
https://github.com/chapmanb/cloudbiolinux/blob/master/cloudbio/package/conda.py#L138

[2022-06-29 18:33] pengxiao78 opened #3661 "Installing 1.2.9 error"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): installing 1.2.9
- OS name and version (`lsb_release -ds`): Linux 3.10.0-1160.66.1.el7.x86_64

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
[code]

[2022-07-01 18:51] kmendler opened #3662 "fgbio and manta incompatibilities with duplex UMIs"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`): "CentOS Linux release 7.9.2009 (Core)"
- Manta: 1.6.0
- fgbio: 1.4.0

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file (template):
[code]

**Log files (could be found in work/log)**
[bcbio-nextgen-commands.log](https://github.com/bcbio/bcbio-next

[2022-07-05 11:03] Hmllycat opened #3663 "Building custom genome CHM13"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`):
[code]
- OS name and version (`lsb_release -ds`):
[code]

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.
[customgenome_21614612.log](https://github.com/b

[2022-07-05 17:20] naumenko-sa commented on #3658
@IBEXCluster : glad to hear you managed to install 1.2.9!
1.2.5 > 1.2.9 upgrade is not possible, fresh install needed.
let us know if you still see any issues!

[2022-07-05 17:28] naumenko-sa commented on #3661
Hi @pengxiao78 !

At this stage bcbio should use it own python, not the systems one.
Please try adding to the PATH (before running installation):

export PATH=[bcbio_path/anaconda/bin]:[bcbio_tools_path/bin]:$PATH

[2022-07-06 15:16] kokyriakidis commented on #3650
@naumenko-sa

I did not manage to remove biobambam and install the older version. The resolution takes forever. Can you please pin biobambam to v2.0.87?

[2022-07-06 18:29] pengxiao78 commented on #3661
I changed the PATH but still the same error...

Checking required dependencies
Installing isolated base python installation
Installing conda
Installing conda-build
Traceback (most recent call last):
  File "bcbio_nextgen_install.py", line 304, in <module>
    main(parser.parse_args(), sys.argv[1:])
  File "bcbio_nextgen_install.py", line 48, in main
    subprocess.check_call([anaconda[conda_bin],

[2022-07-06 19:41] naumenko-sa commented on #3651
this: https://github.com/bcbio/bcbio-nextgen/blob/master/scripts/bcbio_nextgen_install.py#L135
should help with such issues.

[2022-07-06 19:42] naumenko-sa commented on #3661
https://github.com/bcbio/bcbio-nextgen/blob/master/scripts/bcbio_nextgen_install.py#L135

Could you please post your PATH and PYTHONPATH?

[2022-07-06 19:51] pengxiao78 commented on #3661
For security purpose, I cannot put the actual full path but used /../ before the bcbio folder. I did not specifically set up PYTHONPATH.

export BCBIO_PATH=/.../bcbio
export PATH=/etc/alternatives/jre_1.7.0_openjdk/bin:$BCBIO_PATH/anaconda/bin:$BCBIO_PATH/bin:$BCBIO_PATH/tools/bin:$PATH

In previous error, I can see that the python3 path has been changed to the bcbio,

File "/../bcbio/anaconda/lib

[2022-07-06 20:04] naumenko-sa commented on #3650
thanks,  `mamba install biobambam=2.0.87` worked for me
Pinned in cloudbiolinux https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L42

[2022-07-06 20:07] kokyriakidis commented on #3654
@naumenko-sa

Can you please fix link for hg19 too?

[2022-07-10 16:53] mjsduncan opened #3664 "snpEff database download url for BDGP6 genome has changed"
installing fruit fly genome BDGP6 fails with missing snpEff download with bcbio_nextgen version 1.2.9
this url works:  https://snpeff.blob.core.windows.net/databases/v5_0/snpEff_v5_0_BDGP6.28.99.zip

[2022-07-10 21:25] mjsduncan commented on #3664
a hack to keep data upgrades from crashing is to unzip the download and rename the folder to *BDGP6.86*

[2022-07-14 07:18] EvaPang2022 opened #3665 "Is STAR-fusion currently available in the pipeline?"
Hi, may I know whether STAR-fusion is included in the current pileline to call gene fusion?

FYI:
STRA-fusion:
paper: https://europepmc.org/article/ppr/ppr32296
github: https://github.com/STAR-Fusion/STAR-Fusion/wiki

Thank you in advance!

[2022-07-15 15:52] dauss75 commented on #3387
I have the same problem as [waemm](https://github.com/waemm), it seems we have no solution for this yet.

[2022-07-31 13:56] mjsduncan opened #3668 "setting -ploidy in yaml crashes gatk because existing default causes error: "Argument 'ploidy/sample-ploidy' cannot be specified more than once.""
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`):  Ubuntu 22.04 LTS

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]
shell output after individual samples get called with vcfs in *work/gatk-halplotype*:
[code]
above is tail of `bcbio-nextgen-commands.log`

[2022-07-31 14:02] mjsduncan commented on #3668
i tried searching the repository code for '-ploidy 2' but no hits

[2022-07-31 15:50] mjsduncan commented on #3668
whoops, found the yaml format for setting ploidy buried in the "small variant" example section.

[2022-07-31 15:50] #3668 closed

[2022-07-31 16:57] mjsduncan opened #3669 "documentation request: pool-seq user story"
i'm a newbie to sequencing analysis & working on a pooled sample project for the first time.  i've found [this slide deck](https://yeamanlab.weebly.com/uploads/5/7/9/5/57959825/snp_calling_pipeline.pdf) from Yeaman lab  to be helpful, but expert curated examples of pooled sample DNA variant calling and RNAseq abundance & other pipelines in one place would be very useful.

thanks to all for continu

[2022-07-31 18:45] mjsduncan commented on #3664
the above hack fails to fool snpeff and snpeff crashes when it can't find the file:
[code]

[2022-08-01 20:25] pengxiao78 commented on #3661
I tried both but the error persists...

[2022-08-04 05:49] jenny8030 opened #3670 "genome download link error"
**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`):

**To Reproduce**
Exact bcbio command you have used:
[code]

Your yaml configuration file:
[code]

**Log files (could be found in work/log)**
Please attach (10MB max):  `bcbio-nextgen-commands.log`, and `bcbio-nextgen-debug.log`.
[code]

Hi. I'm running bcbio_nextgen.py upgrade (—genom

[2022-08-04 20:11] mjsduncan opened #3671 "issue with STAR alignment crashes salmon"
this isn't really a bcbio problem but i thought i would give a heads up:
using bcbio 1.9.0 bulk RNA-seq pipeline with BDGP6 genome, salmon crashes because some transcriptome lengths in the reference fasta don't match in the STAR aligned bam file.  this has been seen at least once before and i posted code details to an open issue thread in the STAR repo:  https://github.com/alexdobin/STAR/issues/11

[2022-08-16 13:57] Melisa-Magallanes commented on #3565
Hello,
I'm getting a similar error trying to install trinity by conda:
ERROR conda.core.link:_execute(730): An error occurred while installing package 'bioconda::bioconductor-go.db-3.14.0-r41hdfd78af_0'.
I've tried with many conda versions but the error persist:
What can I do to fix it?

[2022-08-16 17:37] mjsteinbaugh commented on #3565
Hi @Melisa-Magallanes thanks for the update -- I'll try clean installing bcbio and see if I can reproduce

[2022-08-18 09:56] gabeng commented on #3661
I have the same issue with a fresh install on a clean `ubuntu 18.04` image when using `conda` and omitting data (`--nodata`)
* Then I tried installing with the `--mamba` option. The installation proceeds further but fails at a later stage when trying to solve dependencies.
* I also tried an initial installation without tools (omitting the `--tooldir` argument). This works, but when subsequently in

[2022-08-19 04:37] matthdsm opened #3672 "Question: set walltime for ipython jobs"
Hi,

Does anyone know of a way to set the walltime for the ipython jobs in bcbio?

Thanks
M

[2022-08-20 03:47] amizeranschi commented on #3565
@Melisa-Magallanes

Just in case your error is similar to what I've been seeing (`post-link script failed for package bioconda::bioconductor-go.db-3.14.0-r41hdfd78af_0`), then know that this is a relatively common problem now and it's being addressed.

Have a look here: https://github.com/bioconda/bioconda-recipes/issues/36499#issuecomment-1217214789

[2022-08-20 07:42] mjsteinbaugh commented on #3565
Thanks for the update! I'll see if we can come up with a fix in bioconda-recipes.

[2022-08-20 08:47] amizeranschi commented on #3565
Great, thanks a lot. Please have a look at `bioconductor-org.hs.eg.db` as well. I've been getting a similar error with it while attempting to install bcbio.

[2022-08-24 12:50] #3124 closed

[2022-09-03 13:20] amizeranschi commented on #3652
I just noticed now that I forgot to reply here. This issue is fixed.

[2022-09-03 13:20] #3652 closed

[2022-09-10 13:14] #3651 closed

[2022-09-13 16:26] dnbuckley opened #3674 "R package version error when combining tx2gene CSV files"
I receive the following error when running the bcbio RNAseq pipeline.  It appears to be a R package version conflict but I'm not sure how to resolve it.  Thanks in advance for any advice.

[code]

[2022-09-15 21:23] KTison opened #3675 "subprocess.CalledProcessError: Command '[ ]' returned non-zero exit status 1"
I am having an issue installing the pipeline more specifically conda. I have attached a screenshot of my terminal.  I am new to programming/bioinformatics so I am not well versed in troubleshooting. Please let me know if you have seen this error before. I really appreciate the help!

![subprocess CalledProcessError](https://user-images.githubusercontent.com/79294986/190510933-e91da563-d79e-4501-9a

[2022-09-16 13:23] eylenth opened #3676 "curl: (60) SSL certificate problem when downloading bioconductor-genomeinfodbdata_1.2.7_src_all.tar.gz"
Hello

I try to update to bcbio software version to 1.2.9, but it fails every time when it tries to download the bioconductor-genomeinfodbdata package
I have tried this now several times, but it keeps failing at this error message.

I have also tried to define the SSL_CERT_FILE environment variable before executing the bcbio_nextgen_install.py script, but it keeps failing
I have also tried to conf

[2022-09-21 03:08] naumenko-sa commented on #3675
Hi @KTison !

It looks like the older system python3.6 interferes with bcbio python3.7.
Could you please try exporting PATH in the following way?
https://bcbio-nextgen.readthedocs.io/en/latest/contents/intro.html#install-bcbio-python-package-and-tools

Also this instruction might be useful:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/installation.html#importerrors

SN

[2022-09-21 03:27] naumenko-sa commented on #3669
Hi @mjsduncan !
our documentation is here: https://bcbio-nextgen.readthedocs.io/en/latest/index.html
Unfortunately, we are not doing joint DNA+RNA analysis. You could run a DNA variant calling and RNA-seq alignment/abundance separately.
SN

[2022-09-21 03:46] naumenko-sa commented on #3676
Hi @eylenth !

It just passed for me (I ran with with `--mamba`)

[code]
The error seems not related to solving, but rather the way curl checks certificates (use EU servers to get the certificate?)
I could only suggest:

```echo insecure >> $HOME/.curlrc```

SN

[2022-09-21 07:50] gabeng commented on #3676
Hi @naumenko-sa,

just curious: did you do a fresh install from scratch? I am still stuck with this error: https://github.com/bcbio/bcbio-nextgen/issues/3661#issuecomment-1219290902

[2022-09-21 17:56] KTison commented on #3675
Hello @naumenko-sa!
Exporting the path as you advised definitely helped but now I have approached another issue. I am receiving a LinkError where the post-link script failed for package bioconda::deepvariant-1.4.0-py36hf3e76ba_0 (first screenshot). While handling this error there was another exception where a process error occurred (second screenshot). Any suggestions for these issues?

[2022-09-22 09:15] eylenth commented on #3676
hi @naumenko-sa
Suddenly it worked for some reason.

I did not even performed the following command:
`echo insecure >> $HOME/.curlrc`

So I guess that the certificate was working at a certain point. Or I did a refresh of my current terminal session at the last successful install.

if someone else is ever having the same issue,
you can try the following options
`echo cacert=/etc/key.pem >> $HOME/.c

[2022-09-22 09:15] #3676 closed

[2022-09-22 15:47] naumenko-sa commented on #3661
Hi @gabeng !

Yes, I've installed the 1.2.9.

I think if you are installing with `--tooldir=/usr/local` that means that binaries will be installed in /usr/local/bin.
Do you have anything else in /usr/local/bin? bcbio installs nearly a 1000 symlinks to that dir, and having it in the PATH is crucial for bcbio runs. If you have some other binaries there, that could be the source of the issues. Isolat

[2022-09-22 15:51] naumenko-sa commented on #3675
Hi @KTison !
Have you attached the screenshots? I don't see them.
Sergey

[2022-09-22 16:01] naumenko-sa commented on #3674
Hi @dnbuckley !
Could you please provide your bcbio yaml config?
SN

[2022-09-22 17:41] dnbuckley commented on #3674
Yeah sure, I've removed all but 2 samples because the config was quite long.  The rest of the samples had the same pattern.
`upload:
  dir: ../final
details:
- files:
  - ../input//SAAAEL.REF_1/SAAAEL.REF_1_R1.fastq.gz
  - ../input//SAAAEL.REF_1/SAAAEL.REF_1_R2.fastq.gz
  metadata:
    batch: BATCH_SAAAEL.REF_1
    category: SAMPLE_SAAAEL.REF_1
  description: SAAAEL.REF_1
  analysis: RNA-seq
  gen

[2022-09-23 02:39] naumenko-sa commented on #3674
thanks, it was useful.

The error is triggered when running tximport in R.
Could you please to upgrade tools with `bcbio_nextgen.py upgrade -u skip --tools`

In my test, the new 1.2.9 installation received:
[code]
and the test rna-seq run finished ok.

You may also try to update that one package:
`mamba install r-vctrs=0.4.1 -c conda-forge`

[2022-09-23 02:44] naumenko-sa commented on #3674
Hi @mjsteinbaugh ! How are you doing?

bcbiornaseq failed in the test run in the fresh install:

[code]

load_bcbioRNAseq.R:
[code]

Any suggestions? Our installation configuration for bcbiornaseq:
https://github.com/chapmanb/cloudbiolinux/blob/master/contrib/flavor/ngs_pipeline_minimal/packages-conda.yaml#L274

SN

[2022-09-23 02:51] mjsteinbaugh commented on #3674
Hi @naumenko-sa I'll take a look tomorrow and update the conda recipe if necessary

[2022-09-23 02:52] naumenko-sa commented on #3671
Hi @mjsduncan !
Thanks for the heads up! We ran several projects with BDGP reference using several different transcriptome annotations.

Sometimes installing a custom transcriptome reference with:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/configuration.html#adding-custom-genomes
reveals issues with the gtf/gff file (incorrect entries). Those happen, and sometimes need to be found and

[2022-09-24 11:06] mjsteinbaugh commented on #3674
@naumenko-sa I think there may be some version flipping going on with the current recipe defined in cloudbiolinux. I'll clean install bcbio this weekend and do some testing. In the meantime, here's the R environment we want that currently works correctly on bioconda:

[code]

[code]

[2022-09-24 11:09] mjsteinbaugh commented on #3674
Ah OK I see i the cloudbiolinux recipe we have `r-bcbiornaseq=0.3.44` pinned. We should be able to upgrade this to 0.4.0 and that will resolve the NAMESPACE issue seen above.

[2022-09-25 11:48] gabeng commented on #3661
Hi @naumenko-sa,

I am actually installing into a plain `ubuntu 18.04` (also tested `20.04`) `docker` image. I know that you are no longer actively supporting a `docker` build (https://github.com/bcbio/bcbio_docker), but containerization is the only way for us to manage different tool environments.
I do not think that docker per se is the issue here. Changing the `tooldir` does not help.

[2022-09-26 17:27] mjsteinbaugh commented on #3674
It's possible we need more pins to get conda to behave correctly. I'll take a look this week with a bcbio test install and will get back to you soon with an update! I may need to post a minor r-bcbiornaseq update to conda that helps tighten this up a bit.

[2022-09-26 17:31] naumenko-sa commented on #3672
Hi @matthdsm !

With

[code]

The main job receives walltime of 12h, and ipython controller and workers receive 10h.

SN

[2022-09-27 08:15] matthdsm commented on #3672
Nice, thanks!

[2022-09-27 08:15] #3672 closed

[2022-10-06 17:27] mjsteinbaugh commented on #3674
@naumenko-sa Following up on this, I can push a bioconda update that should fix this issue once the R 4.2 / Bioconductor 3.15 release series is available. Looks like this should be completed in the next week:

https://github.com/conda-forge/r-base-feedstock/pull/216
https://github.com/bioconda/bioconda-recipes/issues/35116
https://conda-forge.org/status/#r-base42

[2022-10-16 12:16] gabeng commented on #3661
I just retried the `bcbio` installation in a clean `ubuntu 20.04` image and it succeeded. No idea why now and not 21 days ago.
I also understood why the upgrade command using a `tools.yaml` failed: some `conda` packages are hard coded in `cloudbiolinux` scripts, like this one: https://github.com/chapmanb/cloudbiolinux/blob/92543c4a7acc6550265d90f91cceb4481a448248/cloudbio/package/conda.py#L139

[2022-10-16 12:56] #3625 closed

[2022-10-17 14:51] AkankshaFarswan opened #3677 "Issue in GATK base Recalibration step while aligning tumor WGS sample"
I am having an issue while aligning WGS files. The process runs fine and then suddenly stops at Base-recalibration step with the following error -

ERROR Executor: Exception in task 2000.0 in stage 0.0 (TID 2000) [2022-10-17T13:23Z] org.broadinstitute.hellbender.exceptions.GATKException: Unable to automatically instantiate codec. org.broadinstitute.hellbender.utils.codecs.AnnotatedIntervalCodec

I

[2022-10-21 12:47] fouriejoubert opened #3678 "New installation error with current (21 Oct 2022) installer"
Hi Folks

I am on RedHat 7.3 (can't update this server due to Lustre file system factors).

It is time to install a newer bcbio, but when running the currently available installation script, despite many attempts, I always end up getting the following. Any advice would be appreciated!

...
...
...
`typing_extensions  conda-forge/noarch::typing_extensions-4.1.1-pyha770c72_0 None
  unzip

[2022-10-24 16:50] fouriejoubert commented on #3678
Many thanks!

[2022-10-28 04:06] naumenko-sa commented on #3671
Hi @mjsduncan !

We also have hit this problem in one of the projects and solved it by

by generating ref-transcripts.full.fa out of the genome reference and ref-transcripts.gtf in genome/Celegans/WBCel235 in our case by using gffread (it was also a custom genome). It indeed gives longer sequences per transcript and is compatible with STAR transcriptome alignments.

SN

[2022-10-28 21:37] dnbuckley commented on #3674
Hi all, so I tried a full reinstall of bcbio and this error persists.  One thing I have found is that if i re-queue the job with the same config after the crash it will complete, and appears to generate the combined.counts file.

[2022-10-31 15:08] mjsduncan commented on #3671
thanks for the response, @naumenko-sa!   i'll give this a shot.  will this be included in an update of the cloud bionlinux recipes?

[2022-11-01 21:02] kimal999 opened #3679 "bcbio 1.2.9 installation error in the HPC cluster"
Hi,

I'm having trouble with a new installation of bcbio 1.2.9. I have tried the instructions in https://github.com/bcbio/bcbio-nextgen/issues/3624 as well. Unfortunately, they didn't work and I didn't find any google account. Details are given below.

**Version info**
- bcbio version (`bcbio_nextgen.py --version`):1.2.9
- OS name and version (`lsb_release -ds`):Red Hat Enterprise Linux Server rel

[2022-11-07 05:13] naumenko-sa commented on #3679
Hi @kimal999 !
Could you please demonstrate your PATH variable?
It looks like  `/risapps/rhel7/python/3.9.7/lib/python3.9/subprocess.py` was called, while
bcbio's python in `/rsrch3/scratch/user123/Tools/bcbio should be used.`

If so, setting
bcbio_base=/rsrch3/scratch/user123/Tools/bcbio
export PATH=${bcbio_base}/anaconda/bin:${bcbio_base}/tools/bin:$PATH
could be helpful.

SN

[2022-11-07 11:30] Talo07 opened #3681 "Added tool"
Hi all,

I am new to bcbio-nextgen. I can't find strelka in /bcbio1.2.9/tools/bin/. Could you explain to me how I could add it?

Thanks in advance
Gosa

[2022-11-07 14:35] mjsteinbaugh commented on #3674
@naumenko-sa Bioconductor 3.16 is being pushed to bioconda this week, and I'll work on updating the `r-bcbiornaseq` recipe later in the week.

Status can be tracked here:
https://anaconda.org/bioconda/repo

[2022-11-07 21:54] kimal999 commented on #3679
Hi @naumenko-sa,

Thank you very much for your reply. Even with bcbio's python, I get same error.

[code]
Do you have any other suggestions? I have run bcbio 1.2.8 with no issues.

[2022-11-08 10:06] waemm opened #3682 "Processing data with unknown capture panel"
Hi,

This is more of a question I had some tumor-normal data run with an unknown capture panel. I assume I can run it whole genome but am concerned the variant detection and copy number estimates will be less accurate. Are there any tools in bcbio worth switching on to mitigate this ? Is it worth it to reverse engineer the capture through the BAM data?

Thanks!

[2022-11-08 16:28] Titos789 opened #3683 "Questions : use of joint calling with octopus and gnomad genome"
Hi,

Just used bcbio-nextgen for the first time. We would like to use octopus for 10 WGS variant calling and would like to have a multisample vcf. In the bcbio next-gen doc we saw that the jointcaller option supports with HaplotypeCaller and FreeBayes. Is there a possibility to jointly call the variants with octopus?

My second question concerns the use of gnomad genome. Unless I'm mistaken, by de

[2022-11-10 08:52] Titos789 commented on #3681
Thanks @naumenko-sa
It is possible to use joint-caller with strelka in bcbio ? (I have a trio of WGS)

[2022-11-11 20:59] mjsteinbaugh commented on #3674
@naumenko-sa `r-bcbiornaseq` has been updated to 0.5.1 on bioconda

[2022-11-11 21:00] mjsteinbaugh commented on #3565
@amizeranschi `r-bcbiornaseq` has been updated to 0.5.1 on bioconda. I'm working on updating this in the main `bcbio-nextgen` install with @naumenko-sa

[2022-11-14 06:23] naumenko-sa commented on #3681
There is strelka wrapper in germline mode. It supports multiple bams:
https://github.com/bcbio/bcbio-nextgen/blob/master/bcbio/variation/strelka2.py#L32
https://github.com/Illumina/strelka/blob/v2.9.x/docs/userGuide/README.md#germline-configuration-example

You may try running them as a trio family call by specifying the same batch for all samples:
https://bcbio-nextgen.readthedocs.io/en/latest/co

[2022-11-14 06:26] naumenko-sa commented on #3682
Hi @waemm !

For the CNV analysis a bed file is necessary. WGS small variant calling mode could help deducing the panel - it should produce callable_regions.bed, i.e. regions of coverage.

SN

[2022-11-16 12:44] Talo07 opened #3685 "Using bcbio-nextgen in two nodes " pbs torque""

[2022-11-16 15:42] #3685 closed

[2022-11-16 16:35] roryk commented on #3685
Did you end up being able to resolve this?

[2022-11-16 21:03] kimal999 commented on #3679
I was able to install after commenting out the envs_dirs section from the .condarc file as suggested by #2969.

Had problems with gemini and  bioconductor-all packages. So they were installed separately before restarting the installation.

[2022-11-16 21:03] #3679 closed

[2022-11-17 07:55] amizeranschi opened #3686 "Installing from scratch is failing due to Conda"
Attempting to install bcbio from scratch is failing due to Conda errors. I'm running the following command:

[code]

This results in the following:

[code]

Any idea about what could be causing this?

[2022-11-19 01:50] genecell commented on #624
It's a little strange here, my sort version is 8.22 and only `sort -k 1,1 -k2,2n `works for me, rather than`sort -k 1,1V -k2,2n `:
[code]

[2022-11-21 04:55] naumenko-sa commented on #3683
Hi @Titos789 !

A bit of terminology clarification: jointcaller in bcbio is used to joint genotype large (>30, >100 samples) cohorts:
https://bcbio-nextgen.readthedocs.io/en/latest/contents/germline_variants.html#workflow3-population-calling

In your case of 10 samples, you may use batch or cohort calling, i.e. when all samples are fed as input to the caller (it is called joint in the octopus docu

[2022-11-21 05:08] naumenko-sa commented on #3387
Sorry, I missed it.
I can reopen, @dauss75 could you please describe it again that I'd be able to create a reproducible issue?
SN

[2022-11-21 05:10] naumenko-sa commented on #3565
Thanks @mjsteinbaugh !

[2022-11-21 14:42] LeoWelter opened #3687 "installing from scratch using ether conda or mamba fails on perl version?"
problem, installing from scratch on our HPC fails  while trying to install a perl packages:
[code]
I have perl 5.26.3 as default on the system or 5.30.2 or 5.34.1 loadable as module.
thanks for any advice in advance

**Version info**
- bcbio version (`bcbio_nextgen.py --version`): 1.2.9
- OS name and version (`lsb_release -ds`):Red Hat Enterprise Linux 8.4

**To Reproduce**
Exact bcbio command you

[2022-11-27 19:57] dnbuckley commented on #3687
I have also encountered this problem.

[2022-11-28 20:54] amizeranschi commented on #3687
Same issue for me: https://github.com/bcbio/bcbio-nextgen/issues/3686

@naumenko-sa any clue what's going on?

It would be great to bring back support for creating Docker images, given all these recurrent Conda issues for new installs.